[2020-03-15 13:10] HevelMc opened #3 "retrieve cookies from his ENT"
Hi, I would like to use your API but I don't know how to pick up cookies from my ENT ([Atrium-Sud](https://www.atrium-sud.fr)).

I hope you can help me with that. Thank you for your service which looks great.

[2020-03-15 13:16] bain3 commented on #3
Hello, I'm really sorry but unfortunately ENTs are very specific for each region. The only thing i can do is link to [this code](https://github.com/bain3/pronotepy/blob/18131388c4d4bf0174cd9ef00418fe53e122c33a/pronotepy/pronoteAPI.py#L164) which gets the cookies from the occitanie ENT. @Xiloe did most of the work (if not all) for ENTs, i don't have experience with them.

[2020-03-15 13:20] bain3 commented on #3
Could you please contact him on discord? Xiloe#3042

[2020-03-15 13:21] HevelMc commented on #3
Thank you for your prompt response. I understand the complexities of working with ENTs.

I will contact him by Discord, thank you very much ^^

[2020-03-15 13:21] #3 closed

[2020-03-15 16:25] Xiloe commented on #3
Fixed in commit [9a48ceec2bbdb4f98f3234687565f6a22a32f7a8](https://github.com/bain3/pronotepy/commit/9a48ceec2bbdb4f98f3234687565f6a22a32f7a8)

[2020-05-11 12:32] Alestrio opened #6 "Add Ac-reims cas"
Hi,
Can you please add the Reims CAS for that API ?
I plan to use it in a Discord bot during the containment, and Litarvan's API doesn't work with that CAS.
It could also be better to use it as I'm developping with Python

Thanks,

[2020-05-11 12:42] Xiloe commented on #6
Hey! please add me on discord Xiloe#9854

[2020-05-11 12:44] Alestrio commented on #6
Sorry, you are not accepting people to add you as friends. You can add me Alestrio#7611
Thanks for your quick reply,

[2020-05-11 12:46] Xiloe commented on #6
Oh, yes my bad..

[2020-05-11 15:00] Alestrio commented on #6
implemented in 8bf95061eefa42ba8d1f7bdae7bd5f533fe86ebc

[2020-05-11 15:00] #6 closed

[2020-05-12 06:52] Alestrio opened #7 "Issue with contents"
Hi,
There might be an issue with the content feature. (lessons)
When called with
`lessons = self.client.lessons(datetime.date.today()) print(lessons.content)`
or
`lessons = self.client.lessons(datetime.date.today()) print(lessons.content())`
the interpreter says it is null, however it is not (see https://hastebin.com/raw/eqediteteb)
After further investigation, it seems that the issue comes with
`

[2020-05-12 06:57] bain3 commented on #7
Hello,
`pronotepy.Client.lessons()` returns a `list` of `pronotepy.Lesson`. Are you sure that you're using this method correctly? In the example above, you're trying to get the `content` attribute of `list` which of course doesn't exist.

[2020-05-12 07:00] Alestrio commented on #7
Yeah my example was a bit weird, but here is another who does the same thing :
`for le in lessons:
      print(le.content().description)`

[2020-05-12 07:13] bain3 commented on #7
This happens when the lesson doesn't actually have any description. Pronote will not send you anything, because it actually doesn't have to show you anything in the *Contenu et ressources* tab. Returning `None` in this case is fine.

[2020-05-12 07:19] bain3 commented on #7
Also, i should warn you that the `content` attribute is inefficient and every time you are making a request for the content, it will make a request to pronote. This shouldn't trigger anything on pronote's servers, but there is still a risk of getting your IP suspended.

[2020-05-12 07:19] #7 closed

[2020-05-12 12:29] matteosev opened #8 "How to post data to pronote interface ?"
Hi,

I was going through your code in pronotepy/pronotepy/pronoteAPI.py but i did not understand how you post data to pronote interface in order to authenticate the user. Can I ask some explanations ?

[2020-05-12 12:41] bain3 commented on #8
Hello,
pronotepy needs to do all the challenges the same way as the browser. The authentication code is [here](https://github.com/bain3/pronotepy/blob/master/pronotepy/pronoteAPI.py#L89). Throughout the whole library all the different functions use the [`_Communication` class](https://github.com/bain3/pronotepy/blob/master/pronotepy/pronoteAPI.py#L326), specifically [this](https://github.com/bain3

[2020-05-12 12:54] matteosev commented on #8
One of the part i didn't understand at all is [there](https://github.com/bain3/pronotepy/blob/cbbd431433d6fd621b173bd5864e3ed73d3f1e9d/pronotepy/pronoteAPI.py#L381) and especially this line :+1:
`p_site = self.root_site + '/appelfonction/' + self.attributes['a'] + '/' + self.attributes['h'] + '/' + r_number`
What does that mean ? Why do you change the url ?

[2020-05-12 13:01] bain3 commented on #8
This is one of the great pronote things that no one but the developers can understand.
 - `self.root_site` = the root site (https://demo.index-education.net or your specific pronote)
 - `self.attributes['a']` = the espace (3 for students)
 - `self.attributes['h']` = session id
 - `r_number` = numeroOrdre (i don't know why they do it this way, but it does ensure that the client and the server are a

[2020-05-12 13:07] matteosev commented on #8
OK, two first points understood, another little question, what is session id and why do you encrypt r_number ?

[2020-05-12 13:12] bain3 commented on #8
You get the session id from your initial connection. Pronote gives it to you in the page html. `r_number` is quite complicated.
If you really need to understand the whole protocol, then @LelouBil has made a [good description of it](https://github.com/LelouBil/PronoteLib/blob/master/Protocol.md) (you need to understand french, but i suppose that you do).
The file is called eleve.js. The browser dow

[2020-05-12 13:25] matteosev commented on #8
I think i got it, i will use the LelouBil's protocol description to understand it, i don't take more of the _free time you have a bit to much_  ;-)
Merci !

[2020-05-12 13:35] #8 closed

[2020-05-12 13:50] LelouBil commented on #8
I wouldn't say that's a *good* description, I'll need to rework it a lot. Basicly it's a copy paste of my messages when I was explaining it to someone on discord so it might be hard to understand. Most information is there but if you're having troubles understanding it feel free to pm me on discord

[2020-05-12 17:03] matteosev commented on #8
@LelouBil, oui ça fait un peu brouillon mais on arrive à saisir lepourquoi du comment, malheureusement j'ai pas les connaissances suffisantes en crypto (AES, sha256 j'y connais rien). Mais ton texte m'a aidé à comprendre comment le serveur authentifie les utilisateurs, je réessairai quand j'aurai de meilleures bases...

[2020-06-02 17:16] AlexZeGamer opened #9 "Can't detect pronote url"
I can't connect to Pronote with the [example.py](https://github.com/bain3/pronotepy/blob/master/example.py) code if I put my school's direct url (which is exactly like `https://0000000a.index-education.net/pronote/eleve.html`) instead of the demo one which works fine.

Error :
[code]

[2020-06-02 17:18] AlexZeGamer commented on #9
It seems like it only works if I put the `?login=true` that is at the end of the url
(`https://0000000a.index-education.net/pronote/eleve.html?login=true`)

[2020-06-02 17:18] bain3 commented on #9
Hello! Do you use an ent (cas) by any chance?

[2020-06-02 17:23] bain3 commented on #9
If you do, you can check if your ent is supported [here](https://pronotepy.readthedocs.io/en/stable/api/pronotepy.ent/). You can also find some example code for initialisation of your client [here](https://github.com/bain3/pronotepy#ent).

[2020-06-02 17:33] AlexZeGamer commented on #9
I used to use and ENT but we now have direct pronote password since our ENT crash in the beginning of the lockdown. I used those.

It also works fine with this type of url :

It was surely the problem and I think you sould include it in the docs

[2020-06-02 17:40] bain3 commented on #9
I am aware that you can get the login page of a pronote that uses ent with this method, but until now it wasn't needed. I'll try and add this to pronotepy asap.

[2020-06-02 18:05] bain3 commented on #9
I checked how pronotepy will handle an url with the `?login=true` at the end. It seems to work perfectly fine. Did you try it with the login parameter, or just without? If you did, then the issue is something else.

[2020-06-02 19:01] AlexZeGamer commented on #9
Yes I tried with the parameter and it worked

[2020-06-02 19:03] bain3 commented on #9
Ok i misunderstood you then.

[2020-06-02 19:03] #9 closed

[2020-09-25 06:24] pmaranin opened #12 "Issue when logging in as parent"
Hello !

My code is working fine when I am connecting to the student url with student l/p but it throws error when connecting to the parent url with parent l/p. client = pronotepy.Client works fine but then

cp = client.current_period  throws

c:\temp\pronote\pronotepy\pronoteAPI.py in current_period(self)
    221     def current_period(self) -> dataClasses.Period:
    222         """Get the curre

[2020-09-25 15:44] bain3 commented on #12
Hello!
I have checked the pronote api for any differences between the student and parent accounts. Since the parent account can manage multiple students, it has a different path to the period information. To make this work we would have to have a separate client that can switch between the different students. I guess i shouldn't be saying that this works for parent and teacher accounts then. _Than

[2020-09-25 16:27] pmaranin commented on #12
I don't mind helping but I do not note the pronote json structure/format (hence why I am using your cool API)
If you give me some hint on where to look at on the pronote documentation, I am happy to give it a try...

[2020-09-30 19:19] HevelMc opened #13 "Download all the files in the course contents in a given period of time"
Hello,
I would like to know if there is an efficient way to download all the files in the course contents in a given period of time?

I have a program that doesn't always work and I know that using `lesson.content` is not very recommended.
[code]

And for some lessons he tells me that :
`contents = lesson['listeContenus']['V'][0]
IndexError: list index out of range`

Thanks in advance for your sug

[2020-10-05 13:38] firmin-launay opened #14 "Notes coefficients"
Hello,
Using the library, I enountered a problem: coefficients that are not integers don't display correctly. I had a quick look at the code and found the line responsible for that:
[code]
(_dataClasses.py    line 268_)

You just have to make the coefficient a string instead of an integer to fix the problem. That would be great if it was modified in the next releases.
Thanks.

[2020-10-05 13:55] bain3 commented on #14
Hello,
thank you for notifying me. I applied the fix you suggested.

[2020-10-05 13:55] #14 closed

[2020-10-05 14:03] bain3 commented on #13
Hello,
sorry for the late reply. To fix the issue with downloading a lot of files at once, I suggest having a client cache of some sort that you could fill up using something like: `Client.fill_lesson_cache(date_from, date_to)`. The second issue you are having with it raising an `IndexError` is probably happening because pronotepy expects that the lesson will have some content. I'll have to look f

[2020-10-05 20:10] starnakin opened #15 "can't connect on my pronote"
my pronote use an ENT authentification and my pronote login page redirected to the ENT login page.
My login url https://0922397f.index-education.net/pronote/eleve.html

[2020-10-06 09:17] HevelMc commented on #13
Hello, thank you very much for your help. For the second error I haven't tried yet but I guess a try-except is enough to solve my problem.
On the other hand to download several files I don't know how to use a cache, would you have a doc about it ?

[2020-10-06 11:51] bain3 commented on #13
The cache was just a suggestion, it was not implemented. If someone wants to do it, just drop a comment here. I'll start working more on pronotepy when I'll have more time.

[2020-10-06 17:13] Xiloe commented on #15
Hello, have you tried the ENT list available in pronotepy ?

[2020-10-06 19:46] starnakin commented on #15
Where is this list ?

[2020-10-06 22:27] bain3 commented on #15
You can see all the supported ENTs [here](https://pronotepy.readthedocs.io/en/stable/api/pronotepy.ent/). We currently support:

- AC Reims
- AC Reunion
- Atrium Sud
- Occitanie Montpellier

Is your ENT by any chance supported already?

[2020-10-07 16:36] Xiloe commented on #15
Fixed in [6aba1a581367d31b7a4ada8acb70ef41abc7e11c](https://github.com/bain3/pronotepy/commit/6aba1a581367d31b7a4ada8acb70ef41abc7e11c)

[2020-10-07 16:37] #15 closed

[2020-10-08 12:37] #13 closed

[2020-10-09 11:36] firmin-launay opened #18 "Missing attribute in docs"
Hello,
I just wanted to notify you that an attribute for the dataclass `grade` is missing [here](https://pronotepy.readthedocs.io/en/stable/api/pronotepy.dataClasses/#pronotepy.dataClasses.Grade) in the docs.
Indeed, the attribute `comment` is not listed.
That would be nice if it was added, to provide everyone a complete documentation.
Thanks in advance.

[2020-10-09 20:55] Xiloe commented on #18
Hello, thanks for reporting this to us, I am going to fix it soon even though you could do a PR and we would be happy to check and merge it!

[2020-10-09 21:03] Xiloe commented on #18
Fixed in [3bf1af7dbae5d1ff0d8d57531da9e8fdf840df5c](https://github.com/bain3/pronotepy/commit/3bf1af7dbae5d1ff0d8d57531da9e8fdf840df5c)

It is actually on the "latest master" docs, not the latest "release one". Will be automatically be on latest release when a release will be pushed.

[2020-10-09 21:04] #18 closed

[2020-10-25 10:42] ntala opened #19 "Users extension"
Your project is really great. I have not so much free time theses days, but I will study it to learn how I can improve the interface so that teachers (and maybe parents) can use it.

Something sounds a bit weird for me : I thought that pronote and the others index-education application were mostly used in France. But the language used here seems to be English.

Can we speak French to each other ?

[2020-10-25 11:44] Xiloe commented on #19
Hello there, to answer your question : yes Pronote is mostly used in French speaking countries, but it is also used in some other countries, like czech republic for example. The original owner of this repo being from there, I guess that's why the it is wrote in English.

Now if you want to make improvements to the API and add teacher/parents full support it would be awesome and we would like to re

[2021-01-21 16:53] bain3 commented on #12
Added parent support in e9e0024.

[2021-01-21 16:53] #12 closed

[2021-01-21 17:17] pmaranin commented on #12
Thanks a lot !

[2021-01-30 17:26] karimk123 opened #23 "Error when trying the long term using example in documentaion"
I copied and pasted this code from the documentation:
            `     import pronotepy
                  import datetime
                  from time import sleep

              # initialising the client
              client = pronotepy.Client('https://demo.index-education.net/pronote/eleve.html',
                                        username='demonstration',

[2021-01-30 17:39] #23 closed

[2021-01-30 17:40] bain3 commented on #23
Thank you for notifying me! There was no real reason for `client.start_day` to be `datetime`. You can install the latest version by following the instructions in readme.

[2021-01-30 17:41] karimk123 commented on #23
Ok thanks!

[2021-01-30 18:00] karimk123 commented on #23
I updated to the latest version then just tried `print(client.lessons("2021-01-30"))` then i get this error:

`Traceback (most recent call last):
  File "C:\Users\karim\Documents\Python Projects\Pronotepy\main.py", line 13, in <module>
    print(client.lessons("2021-01-30"))
  File "C:\Users\karim\AppData\Local\Programs\Python\Python38-32\lib\site-packages\pronotepy\pronoteAPI.py", line 191, in le

[2021-01-30 18:20] karimk123 opened #24 "Another error after the new commit"
I updated to the latest version then just tried print(client.lessons("2021-01-30")) then i get this error:

Traceback (most recent call last): File "C:\Users\karim\Documents\Python Projects\Pronotepy\main.py", line 13, in <module> print(client.lessons("2021-01-30")) File "C:\Users\karim\AppData\Local\Programs\Python\Python38-32\lib\site-packages\pronotepy\pronoteAPI.py", line 191, in lessons first

[2021-01-30 21:58] bain3 commented on #24
Hello, this is not a problem with pronotepy.

client.lessons expects `datetime.date`, not `str`. Correct example:

[code]

[2021-01-30 22:34] Xiloe commented on #23
It's because of the "-" character between the year/month/day, try using slashes instead.

[or google it. ](https://stackoverflow.com/questions/33194152/unsupported-operand-types-for-str-and-datetime-datetime)

[2021-01-30 22:36] #24 closed

[2021-01-30 22:40] Xiloe commented on #19
Added Parent support in [e9e002457d3d6332876670d196fa64380aacc31a](https://github.com/bain3/pronotepy/commit/e9e002457d3d6332876670d196fa64380aacc31a)

[2021-01-30 22:40] #19 closed

[2021-01-31 06:56] karimk123 commented on #23
My bad, thanks for helping.

[2021-02-14 12:21] 0x454d505459 opened #25 "ENT"
Hi! Is it possible to add a new ENT, we need the ac-orleans-tours's one called called Netocentre
Here's the link you should consider:

- https://lycees.netocentre.fr/portail/f/welcome/normal/render.uP
- https://ent.netocentre.fr/cas/login?service=https://lycees.netocentre.fr/portail/Login&token=TOKEN_THAT_CHANGE
- https://educonnect.education.gouv.fr/idp/profile/SAML2/Redirect/SSO?execution=e1s1

[2021-02-15 21:22] Xiloe commented on #25
Hey! Looks like it's based on EduConnect (Like Occitanie's ENT).
You could try to use that as a base (see [ent.py#L116](https://github.com/bain3/pronotepy/blob/0509fbd69a4fcc6dcc92a78dc174ec2c00ed7903/pronotepy/ent.py#L116)), and it should (almost) work

[2021-02-18 09:23] Moreo18 opened #26 "Timetable support"
Hello,
It would be cool to have timetable support and some function to see like if a teacher is absent etc...
Would be very cool
Have a great day

[2021-02-18 09:50] bain3 commented on #26
Hello,
this functionality if already implemented. You can get all lessons in a given timespan using [`Client.lessons`](https://pronotepy.readthedocs.io/en/stable/api/pronotepy.pronoteAPI/#pronotepy.pronoteAPI.Client.lessons). This will return a list of [`pronotepy.Lesson`](https://pronotepy.readthedocs.io/en/stable/api/pronotepy.dataClasses/#pronotepy.dataClasses.Lesson). `pronotepy.Lesson` has an

[2021-02-18 09:50] #26 closed

[2021-03-01 00:31] mactemporal opened #27 "Tring to show the homeworks"
[code]
And it returns :

[code]
Your help would be verry verry appreciated, this is giving me headache for at least 6hours.
PS: I am a complete newbie in python maybe the problem is really obvious, and also I have many troubles reading the doc LMAO

[2021-03-01 00:39] mactemporal commented on #27
Solved by doing :
[code]
Now i just need to find how to put the name of the matter and make it show the homework for tomorrow

[2021-03-01 00:39] #27 closed

[2021-03-01 01:03] mactemporal opened #28 "Showing the subject of a homework or a grade"
For example  :
[code]
Returns me this :
[code]
How can I replace the "<pronotepy.dataClasses.Subject object at 0x7f5d4cb21140>" but the real subject ?

thanks for your help!

[2021-03-01 15:50] bain3 commented on #28
Hello!
The `subject` attribute of [`Grade`](https://pronotepy.readthedocs.io/en/stable/api/pronotepy.dataClasses/#pronotepy.dataClasses.Grade) is a [`Subject`](https://pronotepy.readthedocs.io/en/stable/api/pronotepy.dataClasses/#pronotepy.dataClasses.Subject) object. To get the name of the subject you can use the `Subject.name` attribute.
In your case you would do:
[code]

[2021-03-01 20:43] mactemporal commented on #28
thank you verry much !

[2021-03-09 18:25] Bapt5 opened #29 "Problem with end of lessons"
Hi
I have a problem with the end date of the lessons: they are never correct. For example a Lesson that lasts 55 minutes, lasts only 30 min with pronotepy. Can someone help me to try fixe this issue?

[2021-03-09 18:53] bain3 commented on #29
Hello, I've tried to reproduce this issue, but didn't succeed. Pronote doesn't give us the end time of the hour so we have to calculate it. This works fine on the demo account, and I remember it working with my pronote too.

Could you run this bit of code, and paste here the output? It will print the one time frame duration, and just some json to compare it to from pronote. It will also look at so

[2021-03-10 17:08] Bapt5 commented on #29
So I have run your test script and it give me this result:
`One hour duration: 0:18:00
Liste heures: {"_T": 24, "V": [{"G": 0, "L": "08h12"}, {"G": 1, "L": "08h30", "A": false}, {"G": 2, "L": "09h10"}, {"G": 3, "L": "09h30", "A":false}, {"G": 4, "L": "10h20"}, {"G": 5, "L": "10h30", "A": false}, {"G": 6, "L": "11h18"}, {"G": 7, "L": "11h48", "A": false}, {"G": 8, "L":"12h15"}, {"G": 9, "L": "12h45

[2021-03-10 18:31] bain3 commented on #29
I guess I should've seen this coming. As you can see, you have a few hours at the beginning of the day that are shorter than others. Pronotepy only looks at the first hour, and calculates the time from that. That's why it doesn't work all the time. I will look into it, but if you think you could fix it by making it check properly (using the client.func_options data) then go ahead and do a pull req

[2021-03-10 18:42] Bapt5 commented on #29
Okay I think that I have not all understand but I think that I don't know how to fix this issue. Just for information all of my lessons last 55 minutes except certain which last 1 hours 53 minutes.

[2021-03-10 19:30] #29 closed

[2021-03-10 19:31] bain3 commented on #29
Hello, I think I have fixed the issue. Can you please install the latest version with the instructions from our README, and check everything works fine?

[2021-03-10 20:37] Bapt5 commented on #29
Okey thank you very much it's work !!

[2021-03-21 08:03] tarneaux opened #30 "trying to access paris pronote but getting error"
Hi,
Today I tried accessing my student pronote, but got following error:
`%Run pronoteTest.py
Traceback (most recent call last):
  File "/home/pi/desksave/pronoteTest.py", line 8, in <module>
    ent=ile_de_france)
  File "/usr/local/lib/python3.7/dist-packages/pronotepy/pronoteAPI.py", line 71, in __init__
    self.attributes, self.func_options = self.communication.initialise()
  File "/usr/local

[2021-03-22 12:08] Bapt5 opened #31 "How can I get the grades and the average of the trimester and not of all the period"
Hello
I'm trying to the grades and the average of the trimester and not of all the period. How can I do that ?

[2021-03-22 12:12] AlexZeGamer commented on #31
A period represents a trimester
(https://pronotepy.readthedocs.io/en/stable/quickstart/#grades)

[2021-03-22 12:16] bain3 commented on #30
Hello, we don't support the paris ENT yet. Maybe @Xiloe could take a look?

[2021-03-22 12:20] Bapt5 commented on #31
Yes It is that I thought but when I get the grade of the current period I have all the grade of the year

[2021-03-22 12:29] bain3 commented on #31
Hello, we get the current period directly from pronote, so it might just be that you only have one big period. All grades have a `date` attribute so you can filter by that. Otherwise you could try finding the correct period by selecting one from `client.periods` by its attributes like `start` or `name`.

[2021-03-22 12:40] Bapt5 commented on #31
Ok Thank you I think my school has not set the good period I will try wuith your method

[2021-03-22 12:40] #31 closed

[2021-03-24 18:35] HevelMc opened #32 "It seems like the period grades are broken"
With this simple program (a modifed version of the demo)

[code]

The program outputs :
[code]

That's a total of 52*8=416 grades in a single year.

[2021-03-24 18:55] #32 closed

[2021-03-24 18:58] bain3 commented on #32
Hello,
there was an issue with the requests sent to Pronote. Everything should work now.

[2021-03-24 20:22] rmenai007 opened #33 "When stopping file aiohttp unclosed client session"
So each time I close my file I get: aiohttp unclosed client session.
I looked in the documentation and everywhere but didn't find a close function.

So can you please implement one? thx

[2021-03-24 20:24] bain3 commented on #33
Hello,
pronotepy doesn't use aiohttp. This is not an async library.

[2021-03-24 20:26] #33 closed

[2021-03-24 20:27] rmenai007 commented on #33
But is there a way to close the session ?

[2021-03-24 20:28] bain3 commented on #33
The only session open is here: `Client.communication.session`, but that is not an `aiohttp` session...

[2021-03-24 20:30] rmenai007 commented on #33
Thanks Im using pronotepy in a discord bot, that why I think I got this error.

[2021-03-30 21:20] Bapt5 opened #34 "How to get the link of virtual classroom"
Hi I'm trying to get the link of my virtual classroom (I have lots of virtual class especially during this period) but I think that this API can't get that. Do someone know how to get this information ?

[2021-04-05 23:20] Simpos opened #35 "There's a mistake in the documentation"
In the file "**docs/source/quickstart.rst**", there is a mistake about the grade access. You iterable in a Period object, and this make an error, in other words you forget the ".grades" in the **line 60**.

[2021-04-06 08:08] #35 closed

[2021-04-06 08:08] bain3 commented on #35
Thank you for notifying me!

[2021-04-09 11:26] jd-develop opened #36 "Haute Garonne's ENT not avaible"
The Haute Garonne's ENT is not avaible in pronotepy. I tried with occitanie_montpellier, but it returns an error.
The link of this ENT : https://ecollege.haute-garonne.fr

Regards,
Jean Dubois

[2021-04-10 12:25] Xiloe commented on #36
Hey, I see that this ENT ressembles the occitanie one. You could use that as a base and make your own ENT and PR the changes.

What's the error ?

[2021-04-11 13:32] Bapt5 commented on #34
@bain3 Do you have a solution ? The button you see in the screenshot give the link of the virtual classroom.
![image](https://user-images.githubusercontent.com/63651713/114306119-1671bc80-9adb-11eb-8bcf-9e2845056a95.png)

[2021-04-11 14:13] bain3 commented on #34
Hello,
unfortunately there are no virtual classrooms in the demo of pronote so I cannot implement it by myself. I suspect its gonna be just a matter of adding a transformer to `Lesson.transformers` though. We need to know the id and I would guess the overall structure of the "Contenu". Could you (or anyone) send me an output of this script (change all the personal info ofc)?
[code]

[2021-04-11 19:36] Bapt5 commented on #34
The output of this script is
`{'N': '301F48D0928461',
 'G': 0,
 'P': 2641,
 'place': 8,
 'duree': 2,
 'DateDuCours': {'_T': 7, 'V': '26/04/2021 12:15:00'},
 'nbVisiosMaxProgrammes': 1,
 'listeVisios': {'_T': 24,
                 'V': [{'N': '186DDB3A68EDFF0',
                        'url': 'https://lycee.cned.fr/cv/223286/146'}]},
 'CouleurFond': '#C0C0C0',
 'ListeContenus': {'_T': 24,

[2021-04-11 20:07] bain3 commented on #34
Can you please try it with latest release? I think I got it. 3d1b58f

[2021-04-12 11:06] Bapt5 commented on #34
Ok It's work thank you

[2021-04-12 11:06] #34 closed

[2021-04-29 09:35] Mattlau04 opened #37 "Error in docs"
It says the "Start" attribute on Lessons objects is a str when it's a datetime object

[2021-04-29 10:01] Mattlau04 commented on #37
it also says that the canceled and outing attributes are Bools, but they return None for me, so it should probably be an union

[2021-04-29 10:22] #37 closed

[2021-04-29 10:28] bain3 commented on #37
Hello, sorry for the inconvenience. Unfortunately Pronote's API is also quite inconsistent, so its not easy to give consistent results.
I have changed the json parser that it should either be giving some preset default values, trying to give a default value of the converter function, or None as a fallback. You can install the latest version by following the steps in README.

[2021-04-29 13:47] Bapt5 opened #38 "Deploy the version with virtual classroom"
@bain3 Can you please deploy on pip the latest version with virtual classroom ?

[2021-04-29 14:35] #25 closed

[2021-04-29 17:06] bain3 commented on #38
Hello, I've released the latest version.

[2021-04-29 17:06] #38 closed

[2021-05-26 10:18] MoreOwO opened #40 "ENT Normandie"
I'm trying to connect to pronote with pronote py like this : `pronote = pronotepy.Client('http://vs.lvh.lyc14.ac-caen.fr:81/pronote/eleve.html', username='',password='')`, but i've this error :
[code]
and idk why.
Is this the right url ?

[2021-05-26 17:07] tarneaux commented on #30
I modified the URL from ile_de_france to https://ent.parisclassenumerique.fr/auth/login?callback=https%3A%2F%2Fent.iledefrance.fr%2F and it worked.
Waiting for the new copy-pasted and name-modified function to be implemented.

[2021-05-27 15:37] ebanDev opened #41 "Discussion support"
Hello, I would like to make a bridge between discord, and pronote discussions, do you plan to implement conversation support?

[2021-05-27 15:41] bain3 commented on #40
Hello,
your Pronote uses an ENT. I don't think we support your ENT yet. You can try to add `?login=true` to the url, but its not a certain solution.

[2021-05-27 15:44] MoreOwO commented on #40
Okay thanks, i'll try that, hope my ent will be implemented soon.

Le jeu. 27 mai 2021 à 17:42, bain3 ***@***.***> a écrit :

[2021-05-27 15:44] bain3 commented on #41
Hello,
unfortunately I am not able to implement discussions now. I no longer have access to a normal pronote account.

[2021-05-28 16:45] ebanDev commented on #41
Oh too bad :/ If ever I can help you thanks to my pronote account don't hesitate ;)

[2021-06-02 06:56] Stan2222 opened #42 "PronotePy Proxies"
Can we have the option for some proxies pls

[2021-06-11 16:01] jd-develop commented on #36
I'm sorry for the late, I stopped worked on the project and I've deleted my code...
I close the issue.

Goodbye :)
Jean Dubois

[2021-06-11 16:01] #36 closed

[2021-06-22 09:48] tarneaux commented on #40
Hi,
You can try to change URLs in ent.py.
For example modify the ac_reims function so that the url is your ENT's login url.
Try this with every ENT function and you should find one that is made like yours.
This is what I did for my ent and it worked first try.

[2021-06-22 09:49] #30 closed

[2021-06-22 09:49] tarneaux commented on #30
(Now added as paris_classe_numerique in the ENTs)

[2021-06-30 13:38] ascpial opened #45 "Login using EduConnect"
Pronote in Grand Est (MBN, MonBureauNumerique) use EduConnect to login.
How can I use pronotepy to login into pronote ?

[2021-07-01 06:58] ascpial commented on #45
I have add a function for my ent, but it return this error :
`Traceback (most recent call last):
  File "C:\Users\Elève\fabert\test_pronotepy.py", line 7, in <module>
    client = pronotepy.Client("http://pronote.lycee-fabert.com/pronote/eleve.html",
  File "C:\Users\Elève\AppData\Local\Programs\Python\Python39\lib\site-packages\pronotepy\clients.py", line 270, in __init__
    super().__init__(pro

[2021-07-01 11:29] Xiloe commented on #45
Your pronote URL is wrong or your function doesn't connect properly to the ENT and doesn't return the good cookies to pronote.

"Page html is different than expected. Be sure that pronote_url is the direct url to your pronote page."
That means that you are not connected to pronote, try checking the request.text, if you see that it's your ENT website, then your implementation is wrong.

Look at my

[2021-07-01 13:51] ascpial commented on #45
Actually I have resolve the error, caused by a change in the header.
If you want, I can make a PR for the implementation of MBN (monbureanumerique)

[2021-07-01 14:34] Xiloe commented on #45
Yeah, do I PR and I'll review it :) Can I close the issue ?

[2021-07-02 05:29] ascpial commented on #45
I dot it _

[2021-07-02 05:29] #45 closed

[2021-07-04 15:48] JulesGrd opened #47 "Lessons with several teachers"
requests for lessons with several teachers and / or several groups and / or several classrooms only return the name of the first group or classroom and the name of the first teacher in the list
![image](https://user-images.githubusercontent.com/77736557/124391295-32f34e80-dcf0-11eb-83fc-38dd1b747359.png)

[2021-07-07 17:24] LeTailleCrayon opened #48 "How can I use the acquisitions for the evaluations ?"
Hello,
I've tried to use evaluations.acquisitions, but it returns me that :
[<pronotepy.dataClasses.Acquisition object at 0x000001DDB04AA640>]
[<pronotepy.dataClasses.Acquisition object at 0x000001DDB04AA740>]
[<pronotepy.dataClasses.Acquisition object at 0x000001DDB04AA940>, <pronotepy.dataClasses.Acquisition object at 0x000001DDB04AA9C0>, <pronotepy.dataClasses.Acquisition object at 0x000001DDB0

[2021-07-07 17:34] bain3 commented on #48
Hi, `evaluation.acquisitions` returns a List of `pronotepy.Acquisition` objects, which is what you are currently seeing in the console.

To access information about each acquisition, you first need to pick one from the list and then access its attributes. You can consult the [docs](https://pronotepy.readthedocs.io/en/stable/api/pronotepy.dataClasses/#pronotepy.dataClasses.Acquisition) to check wha

[2021-07-11 11:25] #48 closed

[2021-07-11 11:35] bain3 commented on #47
This requires some reworking of the transformer system in `pronotepy.Lesson`. I can't see any lessons with multiple teachers on the demo website so I am not able to fix it.

[2021-07-24 15:48] zazou-du22 opened #50 "ent bretagne"
hello, just a question, the ENT bretagne-rennes is not implemented in pronotepy? If this is indeed the case, is there a way to implement it?

[2021-07-26 08:40] vicllo commented on #50
Hello,
If your ent is not implemented yet, there is a good probability that its login system is similar to another one.
Take a look at the other ent in `ent.py`, and maybe you will be able to implement your ent as well.
Here is an usefull link :
[https://github.com/bain3/pronotepy/issues/36](url)

[2021-08-26 06:05] Androz2091 opened #54 "Changements pour 2021/2022"
Salut,
Savez-vous si la lib supportera la prochaine version de Pronote ?

[2021-08-26 13:09] #54 closed, assigned to nobody

[2021-08-30 12:22] tarneaux commented on #50
Try copy-pasting the ENT functions for your region and modifying the links (like the login page's) to yours.

[2021-08-30 12:29] tarneaux commented on #54
Salut,
Si mon établissement met pronote à jour vers la version 2021 cette année, je développerai une nouvelle version de pronotepy.
Sinon avec un peu de chance la nouvelle version sera compatible... On peut toujours prier...

[2021-08-30 13:34] bain3 opened #56 "ENT rework"
Most ENTs share the same login system. It would be great if we had one master function, then other functions would just derive from it, basically wrapping it.

Also the `cookiejar_from_dict` methods all over the place could probably be done differently.

[2021-09-01 08:22] Androz2091 commented on #54
Si mon établissement met pronote à jour vers la version 2021 cette année, je développerai une nouvelle version de pronotepy.
Sinon avec un peu de chance la nouvelle version sera compatible... On peut toujours prier...

Yep, perso je maintiens une lib javascript (https://github.com/EduWireApps/pronote-api), mais je peux également aider les autres projets si jamais l'API change 👍
il me semble que ht

[2021-09-01 09:21] tarneaux commented on #54
Absolument raison, si on survole le pronote en haut à droite il est vrai que ça dit "pronote 2021"...
J'ai un peu l'impression que c'est toujours le même néanmoins (en tout cas l'exemple de pronotepy fonctionne encore).
Est-ce que ça serait pas plutôt la version 2020/2021?
Je crois qu'on verra demain à la rentrée.

[2021-09-04 09:44] JulesLePrince opened #57 "login api with Educonnect"
How can I connect with an educonnect account? The pronote of my lycée doesn't allow me to connect otherwise.

[2021-09-04 10:33] Xiloe commented on #57
On mine I can connect using the legacy user:password you can still try loging in on pronote directly, by adding ?login)true at the end of the url like so : https://XXXXXXXXX.index-education.net/pronote/eleve.html?login=true

[2021-09-04 10:34] Xiloe commented on #57
Else you need to wait for someone to add the EduConnect login method support, or do it yourself. Since I also have it I'll give it a try, I won't promise anything though since I did not used python in a while lmao

[2021-09-14 17:44] KobuzDev opened #59 "ENT hdf adding"
Hey, would it be possible to add the ENT HDF on the list or how to add it yourself ? Thank you

[2021-09-15 16:12] #59 closed

[2021-09-21 20:27] KobuzDev opened #61 "Add enthdf"
Hey, can you add the enthdf or explain how to add it yourself? Thank you

[2021-09-21 20:38] bain3 commented on #61
Hi, your ENT isn't probably supported. Maybe @Xiloe can take a look? Also **you've leaked your password, change it immediately**.

[2021-10-02 19:47] ASPJulien opened #62 "ENT Occitanie is out of date"
Hello, my python is not that good I'll not be able to help you with that problem but, ent occitanie looks out of date.
It searches for an id_body that is not available, I guess that it's because the login page changed.

[2021-10-02 19:48] ASPJulien commented on #62
oh I forgot, the error is this: "pronotepy.exceptions.PronoteAPIError: Page html is different than expected. Be sure that pronote_url is the direct url to your pronote page."

[2021-10-02 19:49] ASPJulien commented on #62
And the pronote page I'm using is "https://0340118u.index-education.net/pronote/eleve.html"

[2021-10-02 20:08] Xiloe commented on #62
Hey, I know it is broke, and I am working on it. It is working on the new ENT system, but I did not implemented it in the old yet, basically they removed some of their verification stuff.

Here is my current code if you want to implement it yourself. I added comments to tell you what casURL, atenURL and origURL are since you don't have them.

[code]

[2021-10-03 17:59] ASPJulien commented on #62
and sorry this may be my fault this time, but it still doesn't work for me
![image](https://user-images.githubusercontent.com/49618271/135765837-90fd04a4-ace6-435f-8264-f0be1e581372.png)

[2021-10-05 18:21] DodoLeDev opened #63 "Unable to connect to my Pronote using Pronotepy 2.1.0 (latest)"
Every time I am trying to connect to my Pronote, the console always returns me the same debug info, but never success to connect :
[code]
How can I resolve this issue?

***P.-S.** : After trying to resolve myself this issue, the Pronote portal blocks my IP for too many incorrect credentials entered!* 😅

[2021-10-05 19:04] bain3 commented on #63
Hello,
looks like your login credentials are incorrect... At least from what I can see error 25 is this:
![image](https://user-images.githubusercontent.com/31798786/136085994-635c62c3-e1af-4e14-8fa2-991583c5bca1.png)
Although rapidly reconnecting like this isn't intended, I'll fix it.

[2021-10-06 14:46] Xiloe commented on #62
It works fine for me though, unless you find a fix (or someone else does) you will need to wait until I finish the new ENT stuff

[2021-10-06 19:15] ASPJulien commented on #62
Still the same error
If you ever need creditentials to try to fix it one day go in DM 👍

[2021-10-06 20:00] Xiloe commented on #56
Todo : Support Educonnect, and all the other ways to connect to ENTs since not everyone has an ATEN account.

[2021-10-07 18:39] portalthree opened #65 "Eclat-BFC"
Hello! I don't really know what I need to submit a ent request, but here's the login page:
https://cas.eclat-bfc.fr/login?service=https:%2F%2F0250007X.index-education.net%2Fpronote%2Feleve.html
I tried to implement it on my own but I don't really get how i'm supposed to do it

[2021-10-07 18:41] Xiloe commented on #65
Looks like it uses the same base as the Occitanie ENT, you might wanna try to use it. And if it doesn't work, try implementing the code I sent on #62

[2021-10-09 09:02] Xiloe commented on #65
It in fact does use ATEN to login. But right now I did not implemented any other way of logging in. So you will have to die it yourself, or wait for the ENT update I'm working on.

[2021-10-10 10:26] bain3 commented on #63
Hello, I am closing this issue for now. The re-connection bug was fixed, right now you probably just have the wrong credentials or need to use your ENT.

[2021-10-10 10:26] #63 closed

[2021-10-10 10:54] DodoLeDev commented on #63
_(@bain3 Is it possible to reopen this issue? 🙏🙄 )_

[2021-10-10 11:50] bain3 commented on #63
This is expected behaviour when your credentials are incorrect :) Do you normally use an ENT when you connect to pronote?

[2021-10-10 16:55] DodoLeDev commented on #63
I can, but it's not needed...
And the link I provided doesn't need to use any ENT portal...

The credentials are correct, I have tested them!

[2021-10-11 18:22] DodoLeDev opened #66 "Unable to get scheduled evaluations"
####  Hi! It's me, again ! 😋

I open this issue because with the new *Pronote 2021 update*, evaluations can be planned **in a different category, cut from the rest of the homework list**.

<img src="https://user-images.githubusercontent.com/59477313/136836276-b18b2870-c23e-48a3-a4b6-4318e114cd4e.jpg" alt="Evaluation category example" width="500"/>

However, Pronotepy **doesn't allow us to access t

[2021-10-14 18:33] Lekebabiste opened #67 "There no ENT for l'educ de normandie"
Hi
In the file ent.py there no functions for this ENT
https://www.l-educdenormandie.fr/

[2021-10-16 09:04] Lekebabiste commented on #67
Ok thanks (Merci frèrto tu gères)

[2021-10-20 20:51] JikanDev opened #68 "Ent HDF"
Can you add the HDF ENT ?

https://enthdf.fr/auth/login#/

[2021-10-24 15:42] ayeinls opened #69 "Missing donneessec"
https://github.com/bain3/pronotepy/blob/master/PRONOTE%20protocol.md
In Step 2
`POST /pronote/appelfonction/<espace_id>/<session_id>/<numero_ordre>

{
    "nom": "FonctionParametres",
    "session": "<session_id>", // int
    "numeroOrdre": "<numero_ordre>",
    "donnees": {
        "Uuid": "...",
        "identifiantNav": "..."
    }
}`

The correct request
`POST /pronote/appelfonction/<espace_id

[2021-10-24 15:48] #69 closed, assigned to nobody

[2021-11-03 15:59] shadowdevfr opened #70 "Adding the Pays de la Loire "E-lyco" ENT to ent.py"
Hello, is it possible to add the Pays de la Loire ENT called "e-lyco"?

https://www.e-lyco.fr/

[2021-11-03 17:09] OiseauDesPlages commented on #70
Hi, I have a script to start with but I don't know what happens once you log in to Educonnect, it's different for each school and I have no way of knowing but if this script can help you:

[code]

[2021-11-03 20:04] OiseauDesPlages commented on #56
from what i understand the ents share the same login system but the way to get to the educonnect page is different.

[2021-11-03 20:08] OiseauDesPlages commented on #56
From what i understand the ENTs share the same login system but the way to get to the Educonnect page is different, is it possible to manage all ENTs with one function?

[2021-11-04 14:05] shadowdevfr commented on #70
The execution of this script returns the redirection page before accessing pronote, but now, as i'm kinda bad at python I would love to know if someone knows how to use the last request session and send the form params for login. After the login, the returned html is:
`<!DOCTYPE html><html>

<head>
    <meta charset="utf-8" />
</head>

<body onload="document.forms[0].submit()"> <noscript> <p> <str

[2021-11-04 15:15] shadowdevfr commented on #70
Update: I managed to authentificate with the POST fields shown before. Now I get the final "Successfully authentificated!" from e-lyco!
[code]
And boom! Successfully authentificated on pronote!
Thanks for helping me!

[2021-11-04 15:15] #70 closed

[2021-11-12 17:27] zack242 opened #74 "ENT Val d'Oise"
HELLO MY FRIEND , PLZ CAN YOU HELP ME WITH THE Val d'Oise ENT THANK UUUU <3
la bise !

[2021-11-13 17:19] apprehensivetarget opened #75 "It seems the homework function does not work."
I am using this script to download my homework, but it does not seem to work. Any help would be greatly appreciated.

[code]
outputs ``[<pronotepy.dataClasses.Homework object at 0x7f9145b190>, <pronotepy.dataClasses.Homework object at 0x7f9145b430>, <pronotepy.dataClasses.Homework object at 0x7f9145b510>]``

[2021-11-13 18:06] OiseauDesPlages commented on #75
Homework is an object not a string, homework object have attributs like "description", "subject" or "done". You can try with "print(homework.description)" for example.

[2021-11-15 15:34] dannezri opened #76 "Add ENT Val d'Oise"
Hello,
Is it possible to add the connection for the ENT Val d'Oise : https://cas.moncollege.valdoise.fr/
Thanks

[2022-01-08 15:17] #47 closed

[2022-01-09 16:21] KadirKess opened #79 "Collet the iCal file"
Hi,
Do you think it could be possible to add a method to collect the iCal file of the client ?

[2022-01-09 19:14] ASPJulien commented on #79
vouch

[2022-01-09 21:52] #79 closed

[2022-01-09 21:57] #75 closed

[2022-01-12 20:00] Impre-visible opened #81 "No module named pronotepy"
Bonjour/Bonsoir, j'ai installé pronotepy avec la commande du Github mais quand je lance le script de test, erreur, pronotepy n'est pas reconnu. Est-ce normal ?

[2022-01-13 10:07] Mascode-Dev opened #82 "Import error"
I try to use the API with the code in README.md
I got the following error :
![image_2022-01-13_100339](https://user-images.githubusercontent.com/58656691/149309078-c5d472ba-d7a9-46e6-913a-9d9147c85c32.png)

I have already installed pronotepy with : pip install pronotepy

What should I do?
Thanks for reading

[2022-01-14 19:25] Aekyios commented on #82
"import pronotepy
from pronotepy import ent" does it work? for me yes

[2022-01-14 19:57] Mascode-Dev commented on #82
nop that's doesn't work..

`import pronotepy
from pronotepy import ent

client = pronotepy.Client('https://XXXXXXXX.index-education.net/pronote/eleve.html?login=true',
                          username=' ',
                          password=' '
                          ent=' ',
)

if client.logged_in:
    print(len(client.messages())) # printing number of messages that the user has
else:
    pr

[2022-01-14 21:57] Aekyios opened #83 "module error"
I use client=.... for my ent connexion
![Capture d’écran 2022-01-14 202924](https://user-images.githubusercontent.com/71457884/149590530-9a2a1e7f-6583-41bc-ad90-0ae1d25b2a0a.png)
![Capture d’écran 2022-01-14 203116](https://user-images.githubusercontent.com/71457884/149590533-82e3b4f5-4c29-4c3e-a3d9-28121fdc6cd0.png)

[2022-01-14 22:05] bain3 commented on #82
Hello,
this doesn't look like a pronotepy issue. It looks like you have a messed up environment. I have tested both download links on two different machines and both of them worked. Please look into python environments and how to install packages through pip :)

[2022-01-14 22:05] #82 closed

[2022-01-14 22:06] bain3 commented on #81
Hello,
this doesn't look like a pronotepy issue. It looks like you have a messed up environment. I have tested both download links on two different machines and both of them worked. Please look into python environments and how to install packages through pip :)

[2022-01-14 22:06] #81 closed

[2022-01-14 22:09] bain3 commented on #83
Hello,
this does not look like a direct problem with pronotepy. The trackeback tells you that `client` is a `RequestsCookieJar` instance. This means that the client was not properly created. Please refer to the [documentation](https://pronotepy.readthedocs.io/en/stable/quickstart/#client-initialisation) to see how to use and create a pronotepy client.

[2022-01-14 22:09] #83 closed

[2022-01-15 11:25] Aekyios commented on #83
I use the command client = pronotepy.ent. MY ENT('username','password')

[2022-01-23 17:47] dathosim opened #84 "Marks in pronotepy please ?"
Hi,

your api is great !
I use to display timetable  and homework in Home Assistant for my kids
I send notification when a lessons is cancelled, I adjust alarm clock automatically with the hour of first lesson of the day (- 1 hour)...
Many thanks !

Now, I would like to get marks.
It's possible to add this in your API please ?

[2022-01-23 18:23] bain3 commented on #84
Hello!
First of all very nice project! Marks are supported although they're called grades in pronotepy. You can access them using pronotepy.Client.[current_period](https://pronotepy.readthedocs.io/en/stable/api/pronotepy.clients/#pronotepy.clients.Client.current_period).[grades](https://pronotepy.readthedocs.io/en/stable/api/pronotepy.dataClasses/#pronotepy.dataClasses.Period.grades). You can acce

[2022-01-24 08:37] dathosim commented on #84
Hello ! Thanks a lot !
I didn't read the documentation properly.
It's work - I can get new grade/mark and send notification (with home assistant)

[2022-01-24 08:38] #84 closed

[2022-01-25 17:13] YoYomec opened #85 "I have an error :"
hello, i have instaled pronotepy with `pip install pronotepy`
and I write this code :
[code]
I execute the code and I see this :
[code]

[2022-01-25 18:14] YoYomec commented on #62
Hello, I have a problem : in this code, i wont to know how you get the  origURL value

[2022-01-31 05:42] Vexcited commented on #85
This is because your Pronote URL redirects to your ENT.

There's two solutions:
- If you know your ENT IDs and the ENT is listed in Pronotepy, then refer to [the documentation about it](https://github.com/bain3/pronotepy#ent).
- Append `?login=true` at the end of the Pronote string URL so it will end up with something like `https://id.index-education.net/pronote/eleve.html?login=true`

Hope it hel

[2022-01-31 05:47] Vexcited opened #86 "Pronote uses "Polling" instead of "Presence ?"
Hello, I am making my own Pronote API on my side and I was watching the requests that Pronote makes.

I've seen that every two minutes, a request is made to `/appelpolling/<order>`.

That requests also longer two minutes.

Also, in the session from the HTML, you can see `poll: true`.

I didn't see anything about it in your code and in anyone code so I think that they get rid of Presence and use Po

[2022-01-31 06:24] bain3 commented on #86
Hello,
from what I can see polling is used for notifications. Presence is prpbably still used to keep the session alive. Although I didn't see any `/appelpolling/` requests on the demo website, I did search for it in the code and found this function: https://pastebin.com/w3qR2qmU.

[2022-01-31 06:37] Vexcited commented on #86
Ok, I found out that on the demo they still uses Presence and there is no 'poll' key in the HTML object.

But for my school, and every other school (that I know), they give a 'poll: true' in the HTML, and there is no any Presence requests, only Polling

[Here](https://0870056n.index-education.net/pronote/eleve.html?login=true) is the Pronote URL for my school, I can even give you my credentials if

[2022-01-31 06:44] Vexcited commented on #86
More informations about the polling request from my Network tab.

![Screenshot_20220131-074203_Kiwi Browser](https://user-images.githubusercontent.com/59152884/151749920-b9597604-fcaa-4c63-b286-4efa06595fac.jpg)
![Screenshot_20220131-074151_Kiwi Browser](https://user-images.githubusercontent.com/59152884/151749922-0d1d70ab-6f22-4938-a0d6-168a58c84207.jpg)
![Screenshot_20220131-074209_Kiwi Browser]

[2022-01-31 06:58] bain3 commented on #86
Yeah I guess the demo doesn't support notifications. I still think using presence is good enough for keeping alive the session. Technically you could use anything else, you just need to make requests. I think the requests look the same because there are no new notifications.

[2022-01-31 07:02] #86 closed

[2022-02-05 06:01] vingerha opened #87 "MQTT integration"
Hi, I have forked this rep. and plan to write an MQTT integration with it. I read that you are trying to hand over the maintenance but at present I cannot promise that I will be able to do that. Time and knowledge are at the moment sparsely available. When I am close to a working model we can discuss if you want to incorporate my work with yours ... or not.

**For now, much appreciating all the wo

[2022-02-08 20:34] bran2000 opened #88 "Add ENT for Essonne (Villemoisson sur Orge - Collège Blaise Pascal)"
Hello thanks for your work, is it possible to add  ENT for Essonne (Villemoisson sur Orge - Collège Blaise Pascal) ?
i have not the login and password to access directly to pronote, i only access with this URL:
[https://www.moncollege-ent.essonne.fr/](url)
Thanks for your help
Best

[2022-02-12 11:02] bain3 commented on #87
Hello,
nice project. Unfortunately I don't think merging it would be a great idea. Pronotepy is meant to be a library for anything and adding MQTT is *very* specific. All the discord bots and other thingies people build don't need an MQTT integration. All that said it's still a cool project!

[2022-02-12 11:02] #87 closed

[2022-02-13 19:00] Bapt5 commented on #88
already done #60
Please use
[code]

[2022-02-13 19:05] Bapt5 commented on #57
Already done #73
Please use
[code]

[2022-02-13 19:11] Bapt5 commented on #41
I'm afraid that the bridge between discord and Pronote is a little too specific and does not correspond to all. But we can try to send message data to a discord bot in the form of JSON and receive messages from discord in the form of JSON and redirect them to Pronote @ebanDev
I can try to implement that when I have some time.

[2022-02-13 19:19] Bapt5 opened #89 "Task assignment"
Hi @bain3 @Xiloe
How can I assign myself tasks in the roadmap?

[2022-02-13 19:39] JulesLePrince commented on #57
Thanks a lot I didn't noticed it in the doc. However, I still have an error :
[code]

[2022-02-13 22:00] bain3 opened #90 "Make `dataclasses.File` have a `type` attribute"

[2022-02-13 22:00] bain3 opened #91 "Add good enough ID system"
PRONOTE only returns its temporary object id. Since its id is temporary we cannot compare objects from different sessions. It would be great to add comparisons with this too.

[2022-02-13 22:02] bain3 commented on #89
Hi,
I converted all the tasks to issues. You can just tell us what you want to work on and we'll assign it to you. Thanks!

[2022-02-13 22:02] #89 closed

[2022-02-13 22:06] bain3 commented on #89
Was #41 the issue you wanted to be assigned?

[2022-02-13 22:10] #88 closed

[2022-02-13 22:13] #85 closed

[2022-02-13 22:14] bain3 commented on #74
Duplicate of #76. (#76 has more information)

[2022-02-13 22:14] #74 closed

[2022-02-13 22:34] Bapt5 commented on #89
Okay thanks. Yes please I want to work on #41 But I wait until more information from @ebanDev

[2022-02-14 06:15] bran2000 commented on #88
Thanks sorry I didn’t know

[2022-02-14 07:11] vingerha opened #92 "Absences bug"
Hi, absences are not working ootb....could you please
- add Absence to __init__
- add @property above 'def absences' in dataClasses.py (row 305)

[2022-02-14 08:01] OiseauDesPlages commented on #57
If tour ent use educonnect, tout can't directly login to educonnect, tout nées to pass throught tour school first which will redirect you to educonnect with an unique URL. To make the educonnect fonction working you need to create create another ent fonction that will handle tour s

[2022-02-14 08:08] OiseauDesPlages commented on #57
If your ENT uses educonnect, you cannot connect directly to educonnect, you must first go through your school's website which will redirect you to educonnect with a unique URL. For the educonnect function to work, you need to create another ENT function that will handle getting the unique URL through your school site. Then you can call the educonnect function which will take care of the educonnect

[2022-02-14 08:13] OiseauDesPlages commented on #57
For exemple this is the ac_grenoble ent function:
`identity_provider = "https://cas.ent.auvergnerhonealpes.fr/login?selection=EDU&service=https://0380029A.index-education.net/pronote/&submit=Confirm"
    login_service_provider = "https://educonnect.education.gouv.fr/idp/profile/SAML2/POST/SSO"

    # Required Headers
    headers = {
        'connection': 'keep-alive',
        'User-Agent': 'Mozill

[2022-02-14 08:27] OiseauDesPlages commented on #57
For exemple this is the ac_grenoble ent function:

https://github.com/bain3/pronotepy/blob/master/pronotepy/ent.py#L56

[2022-02-14 09:34] Bapt5 commented on #57
Okay, I will do it
@bain3 can you assigne me this please ?

[2022-02-14 09:35] Bapt5 commented on #57
@JulesLePrince what is your ENT? (url, link of educonnect...)

[2022-02-14 21:02] JulesLePrince commented on #57
I login through educonnect : https://educonnect.education.gouv.fr/idp/profile/SAML2/Redirect/SSO?execution=e2s1
And I found a pronote link : https://0352009u.index-education.net/pronote/
and also a toutatice link : https://www.toutatice.fr/portail

[2022-02-14 21:25] Bapt5 commented on #57
@JulesLePrince Okay Thanks
Is Toutatice your ENT?

[2022-02-14 21:35] JulesLePrince commented on #57
@Bapt5 Yep it is

[2022-02-15 12:11] Bapt5 commented on #57
@JulesLePrince Could you please install my version of pronotepy to do some test?
[code]
And then execute this python script
[code]
If your grades is not print, please send me the error.

[2022-02-15 19:18] JulesLePrince commented on #57
I still have an error after updating pronotepy from your repository :
[code]

[2022-02-15 19:20] #92 closed

[2022-02-16 13:21] Bapt5 commented on #57
Okay thanks I'm sorry to ask you to do some tests, but I haven't any Toutatice or Educonnect account. So, it's difficult for me to test my work. Do you know if there is any demo account? @JulesLePrince

![image](https://user-images.githubusercontent.com/63651713/154272456-859468c5-6fd6-4a76-bff3-7c4b55c41a5b.png)
For the connection do we agree that you click on the educonnect button? and then you

[2022-02-16 16:18] Bapt5 commented on #57
Yes no problem, I understand, I don't want you send me your password because it's not very secure. But we may have to do a lot of testing. Do you prefer to communicate on another platform where you would be more responsive? Or is GitHub just right for you? @JulesLePrince

[2022-02-16 17:13] JulesLePrince commented on #57
@Bapt5 I think we can stay on GitHub
 I found why the api raise the error  `'NoneType' object is not subscriptable `. I don't know why but when I use the same session in the functions `ac_rennes()` and `educonnect()` I'm able to connect and the cookies of the connected session are return by `educonnect()`

<details>
  <summary>The code that worked for me</summary>

[code]
</details>

However when

[2022-02-16 17:17] Bapt5 commented on #57
@JulesLePrince Yes but the code you give me is exactly the code in pronotepy so I don't understand why it doesn't work😭

[2022-02-16 17:18] Bapt5 commented on #57
@JulesLePrince But the error you give me is not the same as yesterday so I know why it doesn't work

[2022-02-16 17:22] Bapt5 commented on #57
@JulesLePrince Okay I found the problem We must use the same Session in all function. I will correct that this evening and I tell you when it's good

[2022-02-16 17:36] Bapt5 commented on #57
@JulesLePrince I think It's good now !!
Please do the same think like yesterday but change the pronote url like in my script

[code]
And then execute this python script
[code]

[2022-02-16 17:44] JulesLePrince commented on #57
@Bapt5 It seems to connect but I steal have the error :
[code]

[2022-02-16 17:46] bain3 commented on #57
Hi,
the error you got [here](https://github.com/bain3/pronotepy/issues/57#issuecomment-1041895478) is probably because you pasted the url without the `eleve.html` ending. This should be probably done differently though when I look at it. I might change it to make it more fool proof (not calling you a fool btw lol).

[2022-02-16 17:48] JulesLePrince commented on #57
Hi,
Got the same error with the new url :
`
`

[2022-02-16 17:50] bain3 commented on #57
Yeah then its a problem with cookies. The url should now be fine

[2022-02-16 19:55] Bapt5 commented on #57
I think the cookies are good. Because I tried and the page is return when I call Pronote is a page where is write "Toutatice Authentication en cours"

[2022-02-16 20:54] JulesLePrince commented on #57
Any Idea how to resolve the problem?

[2022-02-16 21:07] Bapt5 commented on #57
No for the moment @JulesLePrince Have you ever seen a page like that when your are connecting on Pronote?

[2022-02-16 21:13] JulesLePrince commented on #57
@Bapt5 Nop I access pronote through toutatice and the waiting page looks like this :

<img width="985" alt="Screenshot 2022-02-16 at 22 11 48" src="https://user-images.githubusercontent.com/31992334/154358032-2a32c6e3-dd89-496b-9cb5-7823891b2134.png">

[2022-02-16 21:29] JulesLePrince commented on #57
After some research I found it.

<img width="1286" alt="Screenshot 2022-02-16 at 22 28 33" src="https://user-images.githubusercontent.com/31992334/154360201-d8bb9e4c-1d2d-4226-bf9a-1d55e3389978.png">

[2022-02-16 21:56] Bapt5 commented on #57
@JulesLePrince Okay Is it just after you click to access Pronote?

[2022-02-16 22:18] JulesLePrince commented on #57
@bain3 yep after entering my username / password

[2022-02-16 22:20] Bapt5 commented on #57
Wait excuse me I'm not sure I understand. It's after you enter your username or it's after you click on the button in your ENT to go on Pronote? @JulesLePrince

[2022-02-16 22:59] JulesLePrince commented on #57
@Bapt5
When I go to my pronote webpage I'm asked to choose an auth method I choose Educonnect. If I'm already connected to edcuonnect the message appears directly else I'm asked to ender my username and password and the message appears.

[2022-02-17 07:44] Bapt5 commented on #57
@JulesLePrince Is there another page in your ENT where you see the page "Authentification" before accessing it? If yes, could you please send me the link?

[2022-02-17 13:18] jusdecitron opened #95 "Numéro INE (Identifiant Numéro Etudiant)"
Bonjour bain3,
Certains d'entre nous possèdent un numéro INE sur Pronote.
Est-ce qu'il y a un moyen qu'on puisse extraire ce numéro INE avec ton API ?

[2022-02-17 14:27] Bapt5 commented on #95
Hi
Yes you can just use
[code]
It generate a dict and I think the INE Nummer is in this dict.

[2022-02-17 15:09] bain3 commented on #90
Not doing this. We would have to provide some kind of a MIME database. I think the end user would provide a better one suited for their needs.

[2022-02-17 15:09] #90 closed

[2022-02-17 16:56] Bapt5 commented on #57
I've tried another think. @JulesLePrince Could you test like in this [comment](https://github.com/bain3/pronotepy/issues/57#issuecomment-1041917562) please?

[2022-02-19 16:29] JulesLePrince commented on #57
Yes it works now. Thanks a lot :)

[2022-02-19 19:11] #57 closed

[2022-02-20 17:29] Bapt5 commented on #91
@bain3 Do you think it's a good idea to create an id with the concatenation of some attributes. The inconvenant is that if for example the title changes, the id will change.

[2022-02-20 17:51] Bapt5 commented on #50
@zazou-du22 This ENT was implemented in #96

[2022-02-20 18:41] bain3 commented on #91
Making it from attributes is probably a bad idea... ids are not supposed to change. I thought I could reverse engineer it, but haven't done much progress. There isn't a clear structure to the changing ids. If I take the hex string as a number the first three or four bits don't change (but you can see that from the hex itself), that's what I got so far... Also I think they have something to do with

[2022-02-21 10:29] OiseauDesPlages commented on #67
Hello, this should work:

[code]
Can you try it with your username and password and give the output?

[2022-02-21 10:46] #68 closed

[2022-02-21 17:24] OiseauDesPlages commented on #76
Hello, this should works:
[code]

Can you try with your username and password and give me the result, to see if it works and add it in pronotepy?

[2022-02-21 21:22] bain3 opened #100 "Are ENT functions school specific?"
A few of our ENT functions ([ac_grenoble](https://github.com/bain3/pronotepy/blob/1d65fa07d87872e2be9ce043508d8a957cdfe375/pronotepy/ent.py#L41), [atrium_sud](https://github.com/bain3/pronotepy/blob/1d65fa07d87872e2be9ce043508d8a957cdfe375/pronotepy/ent.py#L148) for example) have a specific school address in some of their requests. Is this ok? Do they work with other schools?

[2022-02-21 21:23] #50 closed

[2022-02-21 21:45] OiseauDesPlages commented on #100
I don't really understand, why wouldn't they work well with others?

[2022-02-21 21:47] Bapt5 commented on #100
@bain3 no it will not work with other schools. I had already noticed the problem but forgot to report it.

[2022-02-21 21:50] bain3 commented on #100
Because sometimes they have a specific hard-coded "service" (like atrium sud: `?service=https:%2F%2F0060013G.index-education.net%2Fpronote%2F`) which points to a specific school. I guess we need to pass the school url to the function and make this variable?

[2022-02-22 08:24] Bapt5 commented on #100
@bain3 Not sure but maybe it can work without this url param. Because I would be surprised if the site gives the cookies according to the param.

[2022-02-22 10:04] bain3 commented on #100
We'd need to test it. Honestly I wouldn't be surprised... All of this authentication stuff is super sketchy.

[2022-02-22 10:07] OiseauDesPlages commented on #56
On the pronote application, after connecting for the first time, it manages to reconnect automatically at each connection even with an ent. Maybe there is a way to do the same thing.
I tried to figure out how it worked but couldn't.

[2022-02-22 11:47] Bapt5 commented on #56
@OiseauDesPlages Yes but we already do it we save the hash of the password and I think the Pronote app does the same thing

[2022-02-22 13:53] bain3 opened #101 "Login through QR codes"
JsonLines has done excellent work and reverse engineered QR code authentication. This is a great way to bypass ENTs.
https://github.com/Androz2091/pronote-qrcode-api

If we implement this, we should release it in v3.0.0, since we will probably have to break our current Client creation system.

[2022-02-22 14:10] Bapt5 commented on #101
@bain3 If you want, I can try to implement that. I think we can keep the old login system. And user will choose which system they use.

[2022-02-22 14:15] bain3 commented on #101
Yup, we're keeping the old system for sure but for people with ENTs this could be waay easier. You can try and implement it if you want. Should I assign you to this?

Technical note: This would probably mean that we would split logging in and initialising the client. Maybe have two functions `login` for normal login and `login_qr` for qr login.

[2022-02-22 14:19] Bapt5 commented on #101
Yes, good idea, I had thought of exactly that. You can assign this to me, but I'll probably need some help as it's a big job.

[2022-02-22 17:32] MRakox commented on #100
I use the atrium-sud ENT with another Pronote URL than the one hard-coded [here](https://github.com/bain3/pronotepy/blob/1d65fa07d87872e2be9ce043508d8a957cdfe375/pronotepy/ent.py#L148) and it works without any problem.

[2022-03-05 20:58] theCrazylegs opened #103 "Add ent77.seine-et-marne.fr"
Hello
Thanks for your work, is it possible to add ent77.seine-et-marne.fr ?

I have not the login and password to access directly to pronote, I only access with this URL : https://ent77.seine-et-marne.fr

Direct Access Pronote => https://0772589w.index-education.net/pronote/parent.html
Redirect => https://ent77.seine-et-marne.fr/auth/login?callback=%2Fcas%2Flogin%3Fservice%3Dhttps%253A%252F%252F07

[2022-03-06 09:40] Bapt5 commented on #103
Hi
Ent 77 works like the ent_essonne.  Maybe you can try to implement it on your own.  Otherwise I will do it next week.

[2022-03-11 06:44] 889laurent opened #108 "addd cas académie de nice AGORA06"
bonjour, pouvez vous rajouter a l'aPI le cas de NICE.

je me connecte avec http://notes.clg-saint-blaise.ac-nice.fr/pronote/

merci

[2022-03-11 08:38] Bapt5 commented on #108
Je suis en train de faire une grande mise à jour du système des ENT. Je vais rajouter la votre au passage

[2022-03-11 08:48] Bapt5 commented on #108
Do you use Agora06 or educonnect? @889laurent

[2022-03-11 08:49] 889laurent commented on #108
Agora06.
thanks

De : Baptiste D ***@***.***>
Envoyé : vendredi 11 mars 2022 09:49
À : bain3/pronotepy ***@***.***>
Cc : laurent MARIO ***@***.***>; Mention ***@***.***>
Objet : Re: [bain3/pronotepy] addd cas académie de nice AGORA06 (Issue #108)

Do you use Agora06 or educonnect? @889laurent<https://github.com/889laurent>

—
Reply to this email directly, view it on GitHub<https://github.com/bain3

[2022-03-11 20:00] fbarth75 opened #110 "ENT monbureaunumerique"
It doesn't work , but when i take alook at the code i think i find the error here :
 # ENT / PRONOTE required URLs
    ent_login_page = "https://cas.monbureaunumerique.fr/login?selection=EDU&service=http%3A%2F%2Fpronote.lycee-fabert.com%2Fpronote%2F&submit=Valider"
    ent_load = "https://educonnect.education.gouv.fr/idp/profile/SAML2/POST/SSO"
    ent_login = "https://educonnect.education.gouv.fr

[2022-03-11 20:04] Bapt5 commented on #110
This issue was fixed in #109

[2022-03-11 20:23] #40 closed

[2022-03-11 20:23] #56 closed

[2022-03-11 20:23] #62 closed

[2022-03-11 20:23] #65 closed

[2022-03-11 20:23] #67 closed

[2022-03-11 20:23] #100 closed

[2022-03-11 20:24] #103 closed

[2022-03-11 20:24] #108 closed

[2022-03-12 15:27] TheGeeKing opened #111 "KeyError: 'moyEleve' class Period.overall_average()"
site-packages\pronotepy\dataClasses.py", line 283, in overall_average
    avrg = s['moyEleve']['V'].replace(',', '.')
KeyError: 'moyEleve'

[2022-03-12 15:30] TheGeeKing opened #112 "KeyError: 'moyEleve' for class Period.averages(), pronotepy.exceptions.ParsingError: Error while parsing received json"
File "C:\Users\polic\AppData\Local\Programs\Python\Python39\lib\site-packages\pronotepy\dataClasses.py", line 263, in averages
    return [Average(c) for c in crs]
  File "C:\Users\polic\AppData\Local\Programs\Python\Python39\lib\site-packages\pronotepy\dataClasses.py", line 263, in <listcomp>
    return [Average(c) for c in crs]
  File "C:\Users\polic\AppData\Local\Programs\Python\Python39\lib\si

[2022-03-12 15:35] bain3 commented on #112
I see. This should probably be optional.

[2022-03-12 15:56] TheGeeKing opened #113 "KeyError: 'moyenne' for class Period.grades(), pronotepy.exceptions.ParsingError: Error while parsing received json"
File "C:\Users\polic\AppData\Local\Programs\Python\Python39\lib\site-packages\pronotepy\dataClasses.py", line 409, in __init__
    self.average: str = self._resolver(Util.grade_parse, "moyenne", "V")
  File "C:\Users\polic\AppData\Local\Programs\Python\Python39\lib\site-packages\pronotepy\dataClasses.py", line 135, in __call__
    raise ParsingError("Error while parsing received json", self.json_d

[2022-03-12 16:18] bain3 commented on #112
By the way this doesn't look like a pronotepy's problem but that the pronote doesn't give averages? Correct me if it does... I think in this case it would be best to raise a different some kind of `UnsupportedOperation` error...

[2022-03-12 16:26] TheGeeKing commented on #112
Updated, forgot a part of the traceback.
So issue is that schools can completely disable access to all averages and so the code try to access something that isn't in the dict. Would be cool if pronotepy goes in manual mode and get grades and calculate the averages manually, and same for #111.

[2022-03-12 16:30] bain3 commented on #112
That's a little iffy. I'd even say to rip out the manual overall average functionality. Pronotepy is here to give you access to the pronote API, not to calculate stuff for you. :thinking: We should do one thing right not multiple barely. Implementing this feature yourself from `Period.grades` is not hard.

[2022-03-12 16:37] TheGeeKing commented on #112
If Period.grades works in the first place haha

[2022-03-12 16:44] #113 closed

[2022-03-12 16:44] bain3 commented on #112
Should not be fixed lmao

[2022-03-12 16:55] TheGeeKing commented on #112
Easy fix. Thanks

[2022-03-12 17:23] #112 closed

[2022-03-12 17:23] #111 closed

[2022-03-12 17:46] TheGeeKing opened #115 "Does new workflows automatically check and correct files?"
I know that there are automatisation that can apply black and mypy to committed files automatically when you do a PR. Question is: does it do it or does it have to be done anyway? @bain3

[2022-03-12 17:49] bain3 commented on #115
Currently they only check if they are correctly formatted and run. You still need to run them on your machine to correct the code.

[2022-03-12 17:55] TheGeeKing commented on #115
Could be nice:
black: https://github.com/psf/black/actions/runs/17913292/workflow
mypy: https://github.com/tsuyoshicho/action-mypy

[2022-03-12 18:14] bain3 commented on #115
Looks like we can't do black :(
https://github.com/cclauss/autoblack#tldr-it-does-not-work

[2022-03-12 18:23] TheGeeKing commented on #115
💀🔫

[2022-03-12 18:23] #115 closed

[2022-03-13 13:46] MRakox opened #116 "Full year grades empty"
To reproduce the issue, run the following code with pronotepy [v2.4.0](https://github.com/bain3/pronotepy/releases/tag/v2.4.0)
[code]
**Output :**
Trimestre 1 --- 46
Trimestre 2 --- 19
Trimestre 3 --- 36
[...]
Année continue --- **0**

**Excepted output :**
Trimestre 1 --- 46
Trimestre 2 --- 19
Trimestre 3 --- 36
[...]
Année continue --- **101**

I think the title of the issue speaks for itself...

[2022-03-13 14:23] bain3 commented on #116
Hi, this doesn't look like a problem on our part. Does this work on older versions? We don't create these periods, we get them directly from pronote. Most pronotes have some hidden periods that aren't used, like semesters. Basically it depends if the school puts all the grades into the "Année continue" period. But from the looks of it they only use it for absences.

[2022-03-13 14:29] Bapt5 commented on #116
What bain3 says is correct. Most of the schools do not put the grades in continuous years so it is the same for the averages.

[2022-03-13 14:40] MRakox commented on #116
Oh... tanks anyway!
There is something strange... I tried the same thing about a month ago and it worked without problem.
Maybe a change directly in Pronote :thinking:

[2022-03-13 14:44] MRakox commented on #116
I just tried it and it works with version 2.1.0
The behavior is a bit strange but the grades of the period are not empty...

[2022-03-13 15:36] Bapt5 commented on #116
This is a problem i solved in #106 because before there was an error in the request that caused Pronote return all the notes stored in the database

[2022-03-13 16:05] MRakox commented on #116
Tanks a lot!
I guess I can close this issue now...

[2022-03-13 16:05] #116 closed

[2022-03-15 17:36] Erusel opened #117 "Probleme de connection"
Une idée de pourquoi j'ai cette erreur ? :

  File "C:/Users/***/Desktop/pytest/main.py", line 5, in <module>
    client = pronotepy.Client('https://lyc-monge.ac-grenoble.fr/pronote/eleve.html',
  File "C:\Users\***i\AppData\Local\Programs\Python\Python38\lib\site-packages\pronotepy\clients.py", line 283, in __init__
    super().__init__(pronote_url, username, password, ent)
  File "C:\Users\***i\

[2022-03-15 19:10] Bapt5 commented on #117
Si tu utilises un compte educonnect met la fonction `ent_auvergnerhonealpe` et sinon je crois que pour Grenoble il n'y a pas encore de compte educonnect donc utilises la fonction `ac_grenoble`

[2022-03-15 22:03] Bapt5 commented on #117
@Erusel Pouvez-vous m'envoyer le programme que vous exécutez svp ?

[2022-03-16 07:43] nouni19 opened #119 "Attachements (links) of homework?"
Hello, I'm wondering if there's a way to check links in homework

[2022-03-16 08:48] Bapt5 commented on #119
Helle I don't understand the question. Can you give an example please?

[2022-03-16 09:41] nouni19 commented on #119
For example, if the teacher wanted to show us a video, she would include it as a link

[2022-03-16 09:43] nouni19 commented on #119
And then it would show up in the list of resources (Dernieres resources pedagogiques)

[2022-03-16 15:16] Bapt5 commented on #119
Okay I understand I will implement that.

[2022-03-16 15:31] Bapt5 commented on #117
Yes but It can be also a login issue if @Erusel don't use the `client.logged_in` condition. That's why I want to see the code 😅

[2022-03-17 08:09] Bapt5 commented on #119
Links are in the files method of homework.

[2022-03-17 10:19] #76 closed

[2022-03-17 10:19] #110 closed

[2022-03-17 10:19] #119 closed

[2022-03-18 14:57] fbarth75 opened #120 "Login issue"
Got an error with my ent "monbureaunumerique" , i'm  apparently logged on 2 differents ent...
[code]

[2022-03-18 15:32] nouni19 opened #121 "Latest version installation error"
Hello, because of the newest addition (files), I needed the latest version. So I took the command from the README, and I got an error:

"ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output"
"UnicodeDecodeError: 'charmap' codec can't decode byte 0x8f in position 8: character maps to <undefined>"
And that error is in appdata\local\programs\p

[2022-03-18 18:04] fbarth75 commented on #120
Same error with the latest version ...

[code]

[2022-03-18 22:15] Bapt5 commented on #120
This error just mean that your IP was blocked. This is not a problem with pronotepy

[2022-03-19 08:07] nouni19 opened #122 "IDEA: Implementing pronote server back-end in python"
I was thinking, what if pronotepy included a back-end for pronote too? I could help with all of that if there's a reliable source for the protocol

[2022-03-22 22:42] bain3 commented on #122
This is a big project. I don't think it's a great idea to put it in pronotepy directly though. Most people won't ever use it and it would be a big burden when maintaining.
Also I'm not sure how to get the precise inner-workings of the PRONOTE server to replicate it. Currently all of the protocol was reverse engineered and from what we've seen index-education aren't really happy libraries exist, so

[2022-03-22 22:42] #122 closed

[2022-03-22 22:44] bain3 commented on #121
Hmm I'm not sure what's happening here but it doesn't look like a problem on pronotepy's end though. This file is not in pronotepy's source.

[2022-03-22 22:44] #121 closed

[2022-03-22 22:45] bain3 commented on #121
You can try and clone the repository and then run `pip install .` but other than that I don't think we can help.

[2022-03-23 08:56] Bapt5 commented on #117
I'm trying to implement #41 and I have this error. I think the messages system is broken. I will try to rework it. So, your error is not a login error, it is just caused by using the method `client.messages()` . @bain3 I think we can close this issue.

[2022-03-23 21:25] #101 closed

[2022-03-23 21:31] bain3 commented on #117
Yes, this is no longer a login issue.

[2022-03-23 21:31] #117 closed

[2022-03-24 08:57] Bapt5 commented on #120
@bain3 I think we can close this because it's not a pronotepy issue

[2022-03-24 09:11] #120 closed

[2022-03-29 20:32] FireFull45 opened #125 "Problème de connexion"
Bonjour,
je suis bloqué avec cette erreur, quelqu'un peut-il m'aider ?

Traceback (most recent call last):
  File "c:\Users\FireFull\Desktop\Pronote\pronotePy\QCM.py", line 11, in <module>
    client = pronotepy.Client('https://0450051l.index-education.net/pronote/eleve.html?login=true',
  File "C:\Users\FireFull\AppData\Local\Programs\Python\Python310\lib\site-packages\pronotepy\clients.py", line

[2022-03-30 07:30] Bapt5 commented on #125
@FireFull45 Please try this code
[code]
You mustn't put ?login=true at the end of the url if you want to connect with your ENT.

[2022-03-30 10:09] FireFull45 commented on #125
I removed the ?login=true but the problem is still the same :/

[code]

[2022-03-30 12:41] Bapt5 commented on #125
@FireFull45 I fix the problem on my repo.
If you want to install now the fix version execute this command `pip install git+https://github.com/Bapt5/pronotepy.git`
Otherwise wait for my next pull request

[2022-03-30 17:47] Bapt5 commented on #41
I have no idea how to make that we choose the person to whom the message is sent. Has someone an idea please ?

[2022-04-01 10:32] #125 closed

[2022-04-08 14:04] BugBoys100 commented on #41
Hello, I'm developing a discord adaptation to this module, if you want, I'll put it on my Github probably next week, the only problem I'm having is accessing the client's schedule, if could someone help me...

[2022-04-08 15:37] Bapt5 commented on #41
@BugBoys100 Yep no problem i think i can help you.

[2022-04-09 14:14] #41 closed

[2022-04-09 14:26] Bapt5 commented on #91
I try many things to find how the ID system work, but I didn't find anything convincing. I will try to contact the owners of the other Pronote wrapper repos to find out if they have found anything.

[2022-04-11 13:53] dannezri opened #127 "Connection problem Ile_de_france"
Hello,

Unfortunately I can't connect with an ENT ile_de_france.

I have the following error.

`parse_html
    raise PronoteAPIError(
pronotepy.exceptions.PronoteAPIError: Page html is different than expected. Be sure that pronote_url is the direct url to your pronote page.`

<img width="682" alt="Capture d’écran 2022-04-11 à 16 01 38" src="https://user-images.githubusercontent.com/40503374/1627

[2022-04-11 16:14] Bapt5 commented on #127
I use the ENT Ile de france every day and it works very well. But I can try to help you. Maybe your id or your password are wrong or maybe you're not using the right Pronote link.

[2022-04-12 17:50] strullutony opened #128 "pronote avec toutatice"
Bonjour

J'utilise toutatice pour me connecter à pronote
Mais quand j'essaye de me connecter avec pronotopy ça ne fonctionne pas
![python](https://user-images.githubusercontent.com/64546939/163023039-301fe0e9-4aea-446f-a793-29099b572872.PNG)
Voici le modèle d'adresse que j'utilise https://xxxxxxx.pronote.toutatice.fr/pronote/eleve.html?identifiant=e2QH7xxxxxxxxx

[2022-04-12 17:53] strullutony commented on #128
je voudrais l'utiliser dans home assistant

[2022-04-12 18:11] Bapt5 commented on #128
L'erreur dit que vous n'avez pas déclarer la variable `client` donc c'est normal que ça ne marche pas.
[code]
Essayez ce code svp et ne mettez pas ce qu'il y a après le point d'interrogation dans l'URL Pronote. J'ai testé l'ENT Toutice il y a peu de temps donc ça m'étonnerait que cela ne marche pas.

[2022-04-12 19:39] strullutony commented on #128
Merci pour votre réponse
Voici le code que j'essaye d'utiliser

from ast import If
import pronotepy
from pronotepy.ent import ac_lyon
from pronotepy.ent import ac_grenoble
from pronotepy.ent import ac_orleans_tours
from pronotepy.ent import ac_reims
from pronotepy.ent import ac_reunion
from pronotepy.ent import atrium_sud
from pronotepy.ent import ile_de_france
from pronotepy.ent import monbureaun

[2022-04-12 21:44] Bapt5 commented on #128
@strullutony Pouvez vous faire en sorte que le code soit lisible en utilisant le markdown svp ?
Vous devez faire comme ça
\`\`\`python
Votre code
\`\`\`
De plus ne réutilisez pas un code comme ça sans le comprendre. Ici vous n'utilisez pas l ent toutatice pour vous connecter il est donc évident que cela ne va pas marcher.

[2022-04-13 05:35] Bapt5 commented on #128
@strullutony Est ce que le bout de code que je vous ai envoyé fonctionne ?

[2022-04-13 05:51] Bapt5 commented on #128
@strullutony Honnêtement j'ai l'impression que le problème ne vient pas du code de pronotepy mais plutôt de celui de Pronote2Homeassistant. Si c'est le cas merci de fermer cette issue et d'en créer une sur [Pronote2Homeassistant](https://github.com/dathosim/Pronote2Homeassistant/issues)

[2022-04-13 11:51] strullutony commented on #128
Bonjour
Quand j'essaye le bout de code ça me donne ceci
![pronote](https://user-images.githubusercontent.com/64546939/163173963-21096f98-242f-40db-a14c-38132168e8a9.PNG)

[2022-04-13 14:03] Bapt5 commented on #128
OK merci je vais corriger le problème. C'est de ma faute désolé j'ai oublié un petit truc. 😅

[2022-04-14 14:32] #127 closed

[2022-04-14 14:39] bain3 opened #130 "Close sessions when connecting to ENTs"
Currently all tests pass but there is a lot of unclosed resource warnings.

[2022-04-14 14:42] Bapt5 commented on #130
OK I will do that

[2022-04-15 17:11] strullutony commented on #128
Bonjour
Maintenant quand j'essaye le code ça ma donne ça
![pronote2](https://user-images.githubusercontent.com/64546939/163600197-17c86b4f-70e0-42b9-9700-8fb8e0fc53f1.PNG)

[2022-04-15 21:05] Bapt5 commented on #128
@strullutony Run `pip install lxml`

[2022-04-18 12:39] titof2375 commented on #128
Bonjour, je réouvre ce poste car ca ne fonctionne plus chez moi , je suis sur ent creuse et je suis compaitement perdu la , jai vue juste au dessi pip install lxml et quand je veut l'installée je me retrouve avec plein d'erreur.
![dsqsdsqdsqds](https://user-images.githubusercontent.com/31250165/163809335-754e7de4-15bd-4444-a5df-1872b496c9a9.PNG)

[2022-04-18 12:40] titof2375 opened #131 "bug sur pornote .py"
Bonjour, je réouvre ce poste car ca ne fonctionne plus chez moi , je suis sur ent creuse et je suis compaitement perdu la , jai vue juste au dessi pip install lxml et quand je veut l'installée je me retrouve avec plein d'erreur.
![dsqsdsqdsqds](https://user-images.githubusercontent.com/31250165/163809335-754e7de4-15bd-4444-a5df-1872b496c9a9.PNG)

[2022-04-18 12:40] titof2375 commented on #131
![vvfgfvdfd](https://user-images.githubusercontent.com/31250165/163809809-9ddebc89-7e72-4082-badb-2d383db431d3.PNG)

[2022-04-18 14:15] Bapt5 commented on #128
Bonjour @titof2375  Cette issue concerne l ENT Toutatice pas l ENT creuse. Comme l'indique l'erreur vos identifiant sont incorrect.

[2022-04-18 14:17] Bapt5 commented on #131
Bonjour @titof2375 je ne comprend pas ce que vous voulez. Vous mettez une erreur comme ça. Je ne sais même pas ce que vous avez exécuté.

[2022-04-18 14:22] titof2375 commented on #131
salut escuse moi , j'ai un peut du mal a m'explique a tu discord ou telegram?

[2022-04-18 16:49] Bapt5 commented on #131
Vas y envoie ton discord @titof2375

[2022-04-18 16:53] titof2375 commented on #131
titof2375#6264

[2022-04-18 16:53] #131 closed

[2022-04-29 10:30] Emilien-B opened #133 "Exception déclenché alors que le code marche"
Quand je lance mon code: (pareil avec mes vrais infos)
[code]
J'obtiens cette exception :
[code]
Mais quand je supprime ça dans le fichier *generic_func.py* (l.156) :
[code]
Le code marche et j'obtiens mes informations

[2022-04-29 10:35] Bapt5 commented on #133
@Emilien-B It's nonsense to remove this line since it verifies that the information is correct. However, I am aware that it did not work and that is why I fixed the problem in #132

[2022-05-01 17:00] KeyKatyu opened #134 "ENTLoginError : Failed to connect with EduConnect (ent2d_bordeaux)"
Hi,

I'm writing this issue because I would like to use your library but I can't because I'm not able to import the academy of bordeaux's ent.
When I write "from pronotepy.ent import ent2d_bordeaux" it doesn't work.
How I can do that ?

Thanks.

[2022-05-02 07:55] Bapt5 commented on #134
Hi @KeyKatyu It's not enough to import the function for your ent but also need to use it. Try this script by replacing with your login credentials.
[code]

[2022-05-02 14:01] #130 closed

[2022-05-02 14:01] #133 closed

[2022-05-02 16:12] KeyKatyu commented on #134
Yes I know, but this import doesn't exist.
When I use it like your script, I got this error :

[2022-05-02 17:43] Bapt5 commented on #134
@KeyKatyu You probably didn't t install the library. Please execute `pip install https://github.com/bain3/pronotepy/archive/refs/heads/master.zip`

[2022-05-02 17:47] KeyKatyu commented on #134
I have already installed the library correctly. It works with the others ENTs. I just think that **ent2d_bordeaux** has been forgotten in PronotePy.

[2022-05-02 17:54] Bapt5 commented on #134
No I tell you that he has not been forgotten. The proof in the attached photo
![IMG_20220502_195249](https://user-images.githubusercontent.com/63651713/166299252-485e5ae2-f315-4ebc-94a3-a05c2f341fe7.jpg)

[2022-05-02 18:02] Bapt5 commented on #134
@KeyKatyu I think you haven't the last version of pronotepy. So please execute `pip install https://github.com/bain3/pronotepy/archive/refs/heads/master.zip`

[2022-05-02 19:06] KeyKatyu commented on #134
I'm French, I saw you're French too, we can speak french if you want.
Thank you for taking the time to help me.

I just uninstalled the PronotePy and reinstalled it with your command (PIP). Do you confirm that it is version 2.4.0?

I checked afterwards, Python keeps telling me that this import does not exist in the terminal (look at the screenshot below). Does ``ent2d_bordeaux`` work for you? This

[2022-05-03 12:39] Bapt5 commented on #134
It works for me. @KeyKatyu So please execute
[code]

[2022-05-03 16:58] KeyKatyu commented on #134
I just ran these commands, no changes.
``ent2d_bordeaux`` is still missing from ``pronotepy.ent``.

[2022-05-03 19:34] KeyKatyu commented on #134
EDIT : I tried on a VM and it works, idk why. :)

But know, I get this error :
``pronotepy.exceptions.ENTLoginError: Fail to connect with EduConnect : probably wrong login information``

(I'm sure I put the correct login information)

[2022-05-04 07:45] Bapt5 commented on #134
@KeyKatyu For this error excuse me, it was my fault. I fix the problem. To install the last version execute `pip install git+https://github.com/Bapt5/pronotepy.git`

[2022-05-04 08:37] KeyKatyu commented on #134
It works, thanks you !

[2022-05-04 08:37] #134 closed

[2022-05-05 18:55] gaufriti opened #135 "Timetable"
Hello I searched in the doc but I want to be certain, can't we see our timetable with this api ?

[2022-05-05 19:02] bain3 commented on #135
Hi, yes you can using [pronotepy.Client.lessons](https://pronotepy.readthedocs.io/en/stable/api/pronotepy.clients.html#pronotepy.clients.Client.lessons).

[2022-05-05 22:52] gaufriti commented on #135
oh yes sorry i'm blind ig

[2022-05-07 05:28] jusdecitron opened #136 "Photo de profil"
Bonjour,
Je souhaite savoir s'il est possible de récupérer notre photo de profil dans Pronote et de l'afficher d'une manière ou d'une autre.

Cordialement.
Citron.

[2022-05-07 09:00] vingerha opened #137 "Useing 'parent' url with mutliple kids in the same school: only shows one kid"
I received a request for my wrapper from a parent who wants to use his parent access to get data from both kids being on the same (!) school.
However, when using that, only one is shown and not sure why only this one (possibly the first one entering the school)
The documentation does not show any info on this so asking if you would know how.

The workaround would be using the individual access for

[2022-05-07 09:46] Bapt5 commented on #137
Hi @vingerha You can use the method [pronotepy.clients.ParentClient.set_child](https://pronotepy.readthedocs.io/en/stable/api/pronotepy.clients.html#pronotepy.clients.ParentClient.set_child) to set the child you want to focus on. You cannot indeed get the data for all the children at the same time, but you can get them for each child by set again the child.

[2022-05-07 11:17] vingerha commented on #137
Thanks, seems to be working and now need to find out how to interactively arrange for this....it is fun to write wrappers but the exceptions drive me mad :)

[2022-05-07 11:31] Bapt5 commented on #137
@vingerha If i have answered all your questions please close the issue

[2022-05-07 11:32] vingerha commented on #137
One questoin before I do this, is there also somehting as a 'get_child' ? I would like to prevent hardcoding hte uernames in the call, so if I could do a get_child and get 1,2,3.. etc. responses than I could iterate over that

[2022-05-07 11:34] Bapt5 commented on #137
There is no method for that, but I can try to implement this. I will keep you informed.

[2022-05-07 11:36] vingerha commented on #137
Thanks, for the time being I will go for hardocded and assume max 2 children... really appreciating the fast response

[2022-05-07 11:36] #137 closed

[2022-05-07 12:08] bain3 commented on #137
Hi, PronoteClient has a children attribute, so you can view all `children` the account has access to with that. There is also a `_selected_child` attribute. It is private. I guess we could make it public. You can still use it though.

[2022-05-07 12:48] Bapt5 commented on #137
It's true sorry I had forgotten the existence of this attribute

[2022-05-07 13:51] vingerha commented on #137
Got it...thanks
[code]

[2022-05-11 18:53] DodoLeDev opened #138 "url attribute of File objects are not correctly generated!"
Hi!
While I was using pronotepy for a new project, each time I wanted to download a file, I have encountered this error:
[code]
After multiple checks, I noticed that generated links are incorrect!
I think there is a problem between lines 519 and 528 of the [dataClasses.py](https://github.com/bain3/pronotepy/blob/master/pronotepy/dataClasses.py#L519) file:
[code]
Maybe the *magic stuff* needs to be

[2022-05-11 21:05] Bapt5 commented on #138
Yes, the problem is already known but thanks for bringing it up. I'm currently working on it

[2022-05-12 20:58] #135 closed

[2022-05-15 15:15] Bapt5 commented on #136
Just use `client.info.profile_picture` in the latest version

[2022-05-16 05:41] jusdecitron commented on #136
Merci beaucoup !
________________________________
De : Baptiste D ***@***.***>
Envoyé : dimanche 15 mai 2022 22:15
À : bain3/pronotepy ***@***.***>
Cc : Citron ***@***.***>; Author ***@***.***>
Objet : Re: [bain3/pronotepy] Photo de profil (Issue #136)

Just use client.info.profile_picture in the latest version

—
Reply to this email directly, view it on GitHub<https://github.com/bain3/pronotepy/i

[2022-05-17 14:43] #138 closed

[2022-06-01 14:46] jusdecitron commented on #136
Bonjour, désolé

[2022-06-01 15:45] Bapt5 commented on #136
`pip install -U git+https://github.com/bain3/pronotepy` execute this command please

[2022-06-06 12:22] TKiller1 opened #140 "More options for grades"
Hello,
Is it possible to add boolean attributes to the Grade object, to indicate if the grade is calculated out of 20 and if the test is optional? I could not find such attributes in the documentation.
Examples:
<img width="241" alt="image" src="https://user-images.githubusercontent.com/90258360/172159457-9b4e11c8-c2da-449e-943e-249338bcbcad.png">
<img width="289" alt="image" src="https://user-ima

[2022-06-06 14:25] Bapt5 commented on #140
Hello
There is no need to add a boolean attribute to indicate if the grade is calculated out of 20 because there is already an `out_of` attribute. So you can test yourself if the grade is calculated out of 20.
But I will add a boolean attribute to indicate if the test is optional.

[2022-06-06 23:12] TKiller1 commented on #140
Thanks a lot!

[2022-06-07 12:59] TKiller1 commented on #140
Hello,
I think that the "grade calculated out of 20" option is different from simply getting the out_of attribute. I checked the out_of attribute of the grade in my example, and I found that it was 7. I think this option has to do with the calculation of the average of a subject for my school's Pronote. Here is the calculation of the average of the subject from my example:
<img width="256" alt="im

[2022-06-07 16:13] Bapt5 commented on #140
OK I will try to see what a I can do

[2022-06-09 14:50] TKiller1 commented on #140
Thank you very much, your contributions are what inspire me to code.

[2022-06-09 14:50] #140 closed

[2022-06-09 16:08] Bapt5 commented on #136
@jusdecitron Can you close this issue please if it is solved.

[2022-06-09 22:32] #136 closed

[2022-06-10 12:12] Bapt5 commented on #140
@TKiller1 Done. I added
* is_bonus : bool : is the grade bonus : only points above 10 count
* is_optionnal : bool : is the grade optionnal : the grade only counts if it increases the average
* is_out_of_20 : bool : is the grade out of 20. Example 8/10 -> 16/20

Execute `pip install git+https://github.com/Bapt5/pronotepy` to install my changes

[2022-06-20 16:05] vingerha opened #142 "logging in hangs intermittently"
Using v2.5.0 but also noticed this in v2.4.0

My setup :
- tries to collect every hour 6:00 - 20:00 sun-fri
- is a process (python script) that is continuously active and based on time (pycron), it fires of the next collection.
- runs in a separate container.

Recently I have seen that the logging in 'hangs' often at 8 or 9 in the morning but ystd also at 19:00, i.e. it shows me this in the log an

[2022-06-20 22:38] Bapt5 commented on #142
Hello What error is causing the program to crash? And is it always the same error that makes the program crash? If the error is `KeyError: MR` then I know the problem and I have already got it with an app like yours. It is very hard to reproduce because it is very rare and I think that it comes from a bug in Pronote itself.

[2022-06-21 04:34] vingerha commented on #142
Until now, from what I have seen, in almost all cases it just hangs with the last line as in above screenshot,  ... how could I increase logging for pronotepy?
Once (only once) I had below error, it crashed and then waited for the next run and then again...stopped with above line.
[code]

[2022-06-21 09:02] vingerha commented on #142
update, this morning it ran fine 6+7+8 and now it hangs since 9. I will keep it hanging till late afternoon and see if eventually something happens...then I will restart again. Since I have a separate setup, I can modify the code locally and keep testing, please also let me know if I can increase logging info.

[2022-06-21 11:45] Bapt5 commented on #142
I don't understand what do you mean with

The log you send me is when the app crash?

[2022-06-21 11:53] vingerha commented on #142
Ah, no... this is the log after restart, it has a line in it that refers to cache needing refresh... so.. for now we will then wait until it hangs again.

[2022-06-21 11:57] Bapt5 commented on #142
Yes I need the log when the app crash

[2022-06-21 16:48] Bapt5 commented on #142
If there is no error there is no crash.
Send me the log when you have the error `KeyError: "MR"`

[2022-06-21 17:13] vingerha commented on #142
you do know that is not how it works... :)
Not continuing on a log-in is also an issue ... and I agree that without feedback it is quite hard to deal with, it trill is an issue.
On the debug sent back above ... might it be that the cache is full due to my process re-re-rerunning hourly? Or is this cache-relate message a normal one when not using a browser? Repeating I am no python expert at all

[2022-06-21 18:58] bain3 commented on #142
Hi, I'm not sure what you mean by caching issues but pronotepy does not have any cache. If you're keeping the client between runs, then use `client.refresh()` to reinitialise the connection (it throws away the old `Session` object, so it basically loses any state known to the pronote server).

I think the issue could be with your network, possibly dropping the connection and then not properly timi

[2022-06-21 20:52] Bapt5 commented on #142
Yes Like @bain3 says : Forgot the cache error, this one doesn't concern us. It is a JavaScript error that is not triggered.
Just please send me the log when you have the error `KeyError: "MR"`

[2022-06-22 06:16] vingerha commented on #142
In hte log output it states to 'vider le cahce' as part of the error(?) message.
It hung again this morning and I now switched the order in which the script collects data of my kids.... just to find out if it is not coincidentally on the ENT/CAS side (guess not)

[2022-06-22 11:59] xxl1212 commented on #42
What ?

[2022-06-27 06:46] vingerha commented on #142
Last update:
After having switched the order in which I collect data for my kids, it ran fine from 22/6 11:00 to 23/6 16:00 ...
Then started hanging on 23/6 17:00 until today 27th.
As it now hangs for the 2nd child collection, previously being the 1st in row, it slowly seems to look like an issue/particularity with that CAS (atrium-sud). There is no error, it just hangs like this (as before)
[code

[2022-06-27 21:33] Bapt5 commented on #142
I just checked and I think that the problem comes from the ENT atrium which must be overloaded, and which sometimes does not answer

[2022-06-28 06:50] vingerha commented on #142
Seems like a reasonable explanation and since we cannot (I guess) ask the ENT to provide a more stable setup, is there a way that pronote can build in a re-start or so? I am happy to test this out

[2022-06-28 07:00] vingerha commented on #142
And just now, afterr hanging again, I restarted it and got this
[code]

[2022-06-28 09:18] Bapt5 commented on #142
I think it's you who have to provide in your script that reboot if it didn't work

[2022-06-28 09:20] Bapt5 commented on #142
Thanks I will analyse the log this afternoon. And I will try to fix the KeyError.

[2022-06-28 09:27] vingerha commented on #142
Not sure how to do this as it hangs in pronoteAPI.py...  any pointers/ideas welcome (note: not a real dev. myself)... donot need solution just direction...then internet will help me further :)

[2022-06-28 15:27] Bapt5 commented on #142
I think that it hangs more specifically in the function `atrium_sud`. I suggest you use a timeout.

[2022-06-28 15:57] Bapt5 commented on #142
I just fixed the `KeyError: "MR"` issue

[2022-06-28 15:59] vingerha commented on #142
Will you roll this out in a release soon ? As I am embedding pronotepy in a image that would be easiest...but maybe you want me to test this first which is perfectly fine too, should I use 'master' or ... which file(s) to update?

[2022-06-29 12:14] bain3 commented on #142
Could you make a PR? I'll follow up with making sure pronotepy's `requests.Session` has a timeout.

[2022-06-30 16:55] Bapt5 commented on #142
Yes I will do that this evening

[2022-07-02 21:37] bain3 commented on #91
I've made some limited progress on reverse engineering the IDs. It's not much, but I hope I'm getting somewhere. All the information I've found is in this gist: https://gist.github.com/bain3/953f377c0b96b83721c84f34d551d5d2

[2022-07-02 21:54] bain3 commented on #142
Didn't mean to close this, we still need to add the timeouts. But the KeyError issue may be fixed now.

[2022-07-02 22:17] bain3 commented on #91
Ok, after some tests it looks very promising! A month of lessons does not have any collisions, neither do all grades from a period, or the periods themselves. Now its just a matter of finding a reference object to get something with the same key.

[2022-07-03 05:54] vingerha commented on #91
I am not sure about your test data and possibly it is good but... just to give you an idea (after my entry above)...
You see 3 x 3 entries for the same lesson.
Pronote app shows:
For the first three :  the last one, so cancelled.
For the second three: the first one , modified
For the last three: either first or second one, modified
So I am no longer sure what value the 'number' has, in these 3 cas

[2022-07-03 05:55] vingerha commented on #91
Of course I am happy to commence testing but the school year has come to an end

[2022-07-03 06:00] vingerha commented on #142
I have added "master" to my container and will see what happens. With the schoolyear ending there will be much less use so probably also less risk in hanging...but I will let you know. Thanks for now!

[2022-07-23 14:19] Sami6053 opened #144 "New ent"
Hello,
can you add this ent ?
ac_nantes

thanks

[2022-07-23 15:20] Bapt5 commented on #144
Can you give me more infos : the URL of the ENT for example?

[2022-07-23 15:29] Bapt5 commented on #144
@Sami6053 I think that the high schools of the academy of Nantes use ENT elyco.  The `ent_elyco` function already exists for this ENT.

[2022-07-23 16:45] Sami6053 commented on #144
yes, it's elyco.
what can i white in my py for ent_elyco?
please

[2022-07-23 17:16] Bapt5 commented on #144
Yes and then you initialize the client with the function ent_elyco. But can you give me the URL of your ENT anyway?

[2022-07-23 17:20] Sami6053 commented on #144
url: https://sevigne.lamayenne.e-lyco.fr

i've test and now my ip si blocked. i'm waiting and i test later.
thanks for your help

[2022-08-03 18:55] RayaneJN opened #145 "ENT Poitiers"
Hello,
Could you add my ENT, if that's possible ?
The link:
https://ent.ac-poitiers.fr/
Thank you very much

[2022-08-04 23:11] Bapt5 commented on #145
Hello. No problem. I will implement this ENT soon.

[2022-08-11 14:12] bain3 opened #147 "Failing tests `TestInformation`"
The response for `PageActualites` has changed. The demo website does not have any published messages, so I'm not able to see the new structure.

[2022-08-28 23:51] #144 closed

[2022-08-28 23:51] #145 closed

[2022-08-28 23:51] #147 closed

[2022-09-02 11:22] Holborn13200 opened #149 "Please create ENT access for Hauts de France"
Hi, please can you create a ENT Access for Hauts-de-France.
What is the url needed?
I have this url: https://enthdf.fr/
Do not hesitate if you need more informations.
Thanks.

[2022-09-02 14:05] Bapt5 commented on #149
Already done ! please use
[code]

[2022-09-02 18:57] Holborn13200 commented on #149
So fast, great job! I think it work but i have a problem.
Visibly for Hauts-de-France the connection to the ENT of my daughter's college is only possible via Educonnect ..
I don't have ENT Login ..
I tring with temporary password and return this log :

[code]
Do you think a solution exists?
https://educonnect.education.gouv.fr/
Thanks for your job :)

[2022-09-02 22:33] Bapt5 commented on #149
I had already implanted it a long time ago.  Feel free to look at the documentation.  It already works with Educonnect.

[2022-09-03 07:38] Holborn13200 commented on #149
Hi and tanks lot for your help.
I tried with different url and I'm sure my login data is correct but impossible to connect..
The Pronote URL Link: https://0595596m.index-education.net/pronote/eleve.html?login=true
I tried without "?login=true" but doesn't work.

issue: Fail to connect with Open NG https://enthdf.fr/auth/login : probably wrong login information
Thanks.

[2022-09-05 08:41] vingerha opened #150 "Educonnect ... does not connect agora06"
Hi, with the new year ... new stuff too
The educonnect has a in-between step which apparently does not work in the generic_functions.

Visual/manual
1. https://cas.agora06.fr/login?selection=EDU&service=https://0061670h.index-education.net/pronote/eleve.html
this opens a page where one has to select parent/legal-rep OR child/level
2. https://educonnect.education.gouv.fr/idp/profile/SAML2/POST/SSO?

[2022-09-05 15:37] Bapt5 commented on #149
I just fixed the problem, it was just that Educonnect change something in its authentification.

[2022-09-05 15:38] Bapt5 commented on #150
We don't click on buttons because we only use requests so no interaction with the web page. I just fixed the problem, it was just that last year Agora didn't use Educonnect and now it use it.

[2022-09-05 15:49] emylive opened #151 "Need help for ENT acces"
Hi,
I need help for the ENT of the Var https://moncollege-ent.var.fr
thanks a lot

[2022-09-05 15:52] #149 closed

[2022-09-05 15:52] #150 closed

[2022-09-05 16:09] Bapt5 commented on #151
Hi,
Just use
[code]

[2022-09-05 16:09] #151 closed

[2022-09-05 19:07] Holborn13200 commented on #149
Hi Bapt5 and very good job.
Work fine with my child login but not with my personal login (parent).

I think the problem comes from a double access account (Elementary School and middle School) on the same page like capture bellow. What do you think ?

![Capture d’écran 2022-09-05 à 20 54 45](https://user-images.githubusercontent.com/57837326/188503012-fab9f359-8c45-4e37-99e8-c91e3c416a4e.jpg)

[2022-09-06 05:05] vingerha commented on #150
Noticed you changed the cas_agora06
I copied the ent folder ... same/similar issue
[code]

[2022-09-06 13:16] Bapt5 commented on #149
I don't have access to this choice. I think it will be complicated for me to implement this

[2022-09-06 15:05] vingerha commented on #150
Better but still not working.
I am happy to share a discord session so we can do this online and not send back/forth all this data :)
I added some statements in generic_function (see attached) and its output
[generic_funcTEXT.txt](https://github.com/bain3/pronotepy/files/9498229/generic_funcTEXT.txt)
[output.txt](https://github.com/bain3/pronotepy/files/9498232/output.txt)
the final error:
[code]

[2022-09-06 16:18] Holborn13200 commented on #149
Too bad, without the parent profile the management of absences is impossible...
What information would you need?
Thanks.

[2022-09-06 19:35] Bapt5 commented on #149
I think this fonctionnality is to specific. I will not have the time to implement it.

[2022-09-07 05:41] Holborn13200 commented on #149
Having several children and some in primary school and others in college is far too specific ... Indeed .. Thank you as well and thank you for your work.

[2022-09-07 13:26] Bapt5 commented on #149
You have misunderstood me. I was saying that I think your ENT is the only one to have this child choice, that's why I was saying that it was specific. I don't have the time to implement the feature but if you want you can try to implement it.

[2022-09-07 13:34] Bapt5 commented on #150
I see the output and everything is going well. Maybe there is a problem with your pronote_url. But there is no problem with the ENT auth.

[2022-09-07 13:40] vingerha commented on #150
Is there a way to share this without posting stuff on a publicly available website?

[2022-09-07 14:36] Bapt5 commented on #150
It has passed the selection parent/elev as evidenced by the logs you sent me.
But I think there is a problem with the cookies but I can't solve it because I can't test anything because I don't have a login for your ENT

[2022-09-07 14:50] vingerha commented on #150
again...can we do this separately ? I am ok to share but not via this page...  am 'vingerha' on discord

[2022-09-07 15:38] vingerha commented on #150
vingerha#3240

[2022-09-07 16:46] pouypouyhome opened #156 "OSE ARGOS ENT"
Hi,
Could you add  the OSE ARGOS Ent in bordeaux academic?
I connect myself on the following https://ent2d.ac-bordeaux.fr/argos/pr/index/index#
And after that i click on the Pronote link tht connect me.
If you need any thinks as data, or if you want that i try something i'm available!
Regards,

[2022-09-07 16:53] Bapt5 commented on #156
Hi You can use the function `ent2d_bordeaux `. Please look at the documentation before creating an issue!

[2022-09-07 19:04] LawlietRen opened #157 "Module crypto"
ModuleNotFoundError: No module named 'Crypto'

[2022-09-07 19:09] bain3 commented on #157
Hi, did you install pronotepy correctly? Run `pip install -U pronotepy` to install the latest stable release.

[2022-09-07 21:52] bdbogjoe opened #158 "Add data from PagePresence / listeSanctionUtilisateur"
[here](https://github.com/bain3/pronotepy/blob/master/pronotepy/dataClasses.py#L370)  you get absence, can you please add listeSanctionUtilisateur ?

[2022-09-08 07:54] bdbogjoe commented on #158
we can use https://github.com/bdbogjoe/pronote-api/blob/master/src/fetch/pronote/absences.js#L125 to know the payload content

[2022-09-08 08:42] bain3 commented on #158
Hi, this is a little weird, because on the demo site, the retenue is given in the `listeAbsences` list. The `G` attribute of punishments is 41 apparently (at least for detentions). We could create another dataclass for it and parse according to the object's `G` type. We could either then return a `List[Union[Absence, Punishment]]`, or we can create a seperate property that will return just `Punish

[2022-09-08 09:22] bdbogjoe commented on #158
yes i think better to have dedicated Punishments object, even if we have to query 2 times the same data

[2022-09-08 17:25] LawlietRen commented on #157
@bain3 Hey, everything is up to date but it doesn't work, i also tried to install pycrypto, to remove it and reinstall it, etc but nothing works

[2022-09-08 17:42] bain3 commented on #157
The crypto module is from our `pycryptodome` dependency. Make sure that it's installed. I'm sorry but this is an environment issue, that is kinda hard to debug like this and is out of scope. It looks like the `pip` command installs the dependency somewhere else and python can't find it. :/

[2022-09-08 19:47] bain3 commented on #158
Could you please download the latest version with `pip install git+https://github.com/bain3/pronotepy.git`, and test if it works? Sometimes the demo website differs from actual PRONOTEs. You can for example run the unit tests with `python -m pronotepy.test_pronotepy`.

[2022-09-08 20:00] bain3 opened #160 "Fix documentation"
The documentation is in a horrible state right now... The attribute names are concatenated with their types, and tbh it is not very readable. A total rework would be best but will take time.

[2022-09-08 22:40] bdbogjoe commented on #158
yes need to wait a little bit to test :)

[2022-09-09 10:11] Sigmanificient opened #161 "Stubs are not provided"
Hi, it sees that your package does not have stubs with typing and mypy support.

It would be really nice to provide a typing package along for people using thoses tools in order to avoid people to generate it by themselves.
Thanks

[2022-09-09 10:13] wsw70 opened #162 "How to retrieve the timetable (emploi du temps)?"
First of all: **THANK YOU**. It is a real shame we need to go though loops in order to get data from Pronote which is bought with our taxes. </end_rand>

My promote does not expose the iCal feature (I asked the school but I have limited hope, to say the least). I will therefore need to scrape the actual timetable in order to build an iCal and expose it to be used by a digital calendar.

What would

[2022-09-09 11:06] bain3 commented on #161
I have added a py.typed marker. Please install the latest version using `pip install git+https://github.com/bain3/pronotepy.git`. Unfortunately we cannot make a stable release right now.

[2022-09-09 11:06] #161 closed

[2022-09-09 11:11] bain3 commented on #162
I'm glad you like the library. Pronote's api is horrendous. You can get lessons from a client using the [`Client.lessons`](https://pronotepy.readthedocs.io/en/stable/api/pronotepy.clients.html#pronotepy.clients.Client.lessons) method. This will return a list of lessons from the given time period. Initialisation of the client is documented [here](https://pronotepy.readthedocs.io/en/stable/quickstar

[2022-09-09 13:11] wsw70 commented on #162
Thank you for the super fast answer. I thought that `lesson` was for the content but you put everything :)

Do you accept PRs for user-contributed scripts? I plan to build a simple webservice to expose an iCal  version of the data so that it is easy to add the timetable to a digital agenda

[2022-09-09 13:11] #162 closed

[2022-09-09 13:27] Bapt5 commented on #162
We accept PR. However, we will not include your webservice in pronotepy. Indeed it has no link with the library itself

[2022-09-09 13:28] Bapt5 commented on #162
@wsw70 Don't know if you know [PronoteBot](https://github.com/Bapt5/PronoteBot) which do what you want to do and which use pronotepy.

[2022-09-11 08:52] wsw70 commented on #162
This was not my intent. I was rather thinking about a wiki section for "user contributions" or "user scripts" so that people can add what they wrote with pronotepy in case it could help someone.

These scripts are obviously not part of the library so they indeed have no place in the code itself.

[2022-09-11 08:53] wsw70 commented on #162
I did not. I will give it a try, thanks!

[2022-09-11 13:33] Bapt5 commented on #162
Github automatically integrates projects that use Pronotepy in the Used by section of the repo

[2022-09-11 14:25] #160 closed

[2022-09-12 06:00] vingerha commented on #157
Input, I have this working fine with my main OS and container, both on ubuntu 22.04
I tried two methods
- full pronotepy install
- a step-wise adding of packages, i.e. adding Crypto, BT4 via pip ... and pronotepy only (!) as folder

[2022-09-13 14:51] Starmania opened #164 "Couldn't use ENT Occitanie Educonnect"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%242%20Funded-%2300A156.svg" />](https://issuehunt.io/r/bain3/pronotepy/issues/164)

Hey,
I can't connect to my ENT through the API... It seems that when python tries to get the rsa keys, at `get_response`, the url remains that of my ent...

The variable `get_response.url` is set to `https://cas.mon-ent-occitanie.fr/login?ser

[2022-09-14 20:00] lesensei opened #165 "IP filter on enc_hauts_de_seine"
Hello,
I'm trying to use pronotepy to fetch data from the Hauts-de-Seine instance as a parent.
Here's my code at the moment:
[code]
This code works quite well in a docker container... on the condition that I log in to Pronote from the same public IP address before running it. Otherwise, I get a `PronoteAPIError: Page html is different than expected. Be sure that pronote_url is the direct url to yo

[2022-09-14 20:18] lesensei commented on #165
In case this might be in any way useful, here is the debug log from a session where I didn't log in first from my browser:
[code]
And here's a successful session, after logging in through my browser and relaunching the same script:
[code]

[2022-09-15 11:49] wsw70 opened #166 "How to get the "Prof. absent" information?"
I am trying to filter out lessons that are effectively cancelled, for a reason or another. It would obviously be too easy if it was just the `cancelled` property to check: it seems that there are
- "cancelled-cancelled" lessons (someone decided that they are not there for that day) and these have the `cancelled` flag set to `True` (in Pronote you do not see what the lesson was, just "cours annulé"

[2022-09-15 12:08] #166 closed

[2022-09-15 14:12] Bapt5 commented on #165
To simplify you say that it's work when you start a connexion before on the same IP with a browser and it's doesn't work otherwise?

[2022-09-15 16:55] lesensei commented on #165
Yes, precisely. Sorry if that wasn't obvious.

[2022-09-17 11:18] vingerha commented on #158
Tried it, did the pip install and script.... error
[code]

[2022-09-18 16:29] lesensei commented on #165
Looking at a session with Dev Tools in Firefox, it looks like what is missing is a GET on `https://enc.hauts-de-seine.fr/cas/proxySSO/yyyyyy?uai=0920xxxJ&projet=OZE_HDS&fonction=TUT` where `yyyyyy` is a hex string that can be obtained as a json attribute through a prior GET on `https://api-enc.hauts-de-seine.fr/v1/config/Pronote?ctx_profil=RESPONSABLE_ELEVE&ctx_etab=0920xxxJ` (in the case of `Pare

[2022-09-18 16:44] Bapt5 commented on #165
I have not a lot of time for the moment if you can't make a fix I'll do it later.

[2022-09-19 10:20] BloomyInDev commented on #164
Same Problem when you send some request to Pronote URL it"s give that error
(my username and password are not shown)
[code]

[2022-09-24 12:20] bain3 commented on #158
Thank you @ioull ! I've fixed the parsing for your case.

[2022-09-27 07:57] Didoub74-Off opened #171 "Str Object is not callable in pronotepy.Client"
Hello, I'm getting this error:
`Traceback (most recent call last):
  File "main.py", line 16, in <module>
    client = pronotepy.Client(pronote_url1,
  File "/home/runner/Pronote-Note-Mailer/venv/lib/python3.8/site-packages/pronotepy/clients.py", line 382, in __init__
    super().__init__(pronote_url, username, password, ent, qr_code)
  File "/home/runner/Pronote-Note-Mailer/venv/lib/python3.8/sit

[2022-09-27 10:21] bdbogjoe opened #172 "Add json serialization"
I would like to create rest service using this lib to get data from pronote.
Idea is to provide one endpoint per method, but i need to serialize object in json.

I want to create one docker accessing to pronote, and using this service from nodered to push data to mqtt and then homeassistant
Unfortunately, i don't know anything about python to create such PR to provide serialization of object to js

[2022-09-27 10:57] bain3 commented on #171
Hi, the `ent` attribute must be a function that returns cookies ([docs](https://pronotepy.readthedocs.io/en/latest/api/ent.html)). You are currently passing in a `str`.

[2022-09-27 11:07] bain3 commented on #172
I've been thinking about adding serialization to dict for some time now. I we could use the `__slots__` attribute for this. Converting a dict to json is as simple as `json.dumps()`.

[2022-09-27 19:39] bdbogjoe commented on #172
here my project, actually i'm building myself the payload, but would be better if we can use someting more generic

https://github.com/bdbogjoe/pronote-rest

[2022-09-28 14:09] bdbogjoe commented on #158
thanks works fine

[2022-09-28 14:09] #158 closed

[2022-09-28 20:53] bdbogjoe opened #174 "Erorr while doing Keep alive"
i'm trying to use keep alive but i have this error :

I'm running this is dedicated thread :
` client.keep_alive().alive()`

but i have this error after delay of 300s while doing real keep alive
`self._client.post("Presence", 7)`

[code]

What is wrong in my code ?

[2022-09-29 06:08] #165 closed

[2022-09-29 06:51] #164 closed

[2022-09-29 06:53] #171 closed

[2022-09-29 12:05] Didoub74-Off opened #176 "Error: Fail to connect with EduConnect : probably wrong login information"
Hello again,
I've got this error:
`Traceback (most recent call last):
  File "main.py", line 9, in <module>
    client = pronotepy.Client(
  File "/home/runner/Pronote-Note-Mailer/venv/lib/python3.8/site-packages/pronotepy/clients.py", line 347, in __init__
    super().__init__(pronote_url, username, password, ent, qr_code)
  File "/home/runner/Pronote-Note-Mailer/venv/lib/python3.8/site-packages/

[2022-10-05 16:35] vingerha commented on #142
And with the new year, the issue is back on the board, my agora06 was hanging this morning at 7:00 (6:00 run was fine). I assume that the 'timeouts' have not yet been added?

[2022-10-09 09:38] bain3 commented on #142
Nope, not yet. You could try to modify the requests module globally like I suggested. Noone else seems to have this issue... If the problem is in fact because of requests that do not timeout, then I can make it easier to modify / add our own timeout class.

[2022-10-10 07:08] Didoub74-Off opened #178 "Error when connecting with CAS: ent_grenoble"
Hello,
I'm getting this error:
`Traceback (most recent call last):
  File "main.py", line 9, in <module>
    client = pronotepy.Client(
  File "/home/runner/Pronote-Note-Mailer/venv/lib/python3.8/site-packages/pronotepy/clients.py", line 347, in __init__
    super().__init__(pronote_url, username, password, ent, qr_code)
  File "/home/runner/Pronote-Note-Mailer/venv/lib/python3.8/site-packages/pro

[2022-10-11 08:44] vingerha commented on #142
Agree that a single-person-issue should not get high prio. I added the 'import requests' suggestion now...let's wait and see.
Thanks

[2022-10-13 15:15] amiguet opened #179 "How to get the attachment(s) of an Information"
When getting a list of `Infomation` objects with a code along the lines of

[code]

I can easily get the title, content, etc. of each obj in objs, but I cannot find a way to get the attachments of the information.

It seems pronotepy can handle Attachments: https://pronotepy.readthedocs.io/en/stable/api/data.html#pronotepy.Attachment

But I don't know how to access them...

Am I missing something?

[2022-10-13 15:52] bain3 commented on #179
Hi,
I've added [`Information.attachments`](https://pronotepy.readthedocs.io/en/latest/api/data.html#pronotepy.Information.attachments). Let me know if it works :)

[2022-10-13 18:24] amiguet commented on #179
Wow, that was quick!

Seems to work perfectly, thanks! :-)

[2022-10-13 18:24] #179 closed

[2022-10-13 19:24] amiguet opened #180 "Information.mark_as_read() raises PronoteAPIError"
With this simplified code:

[code]

I get

[code]

(there's also quite a bit of debug data, tell me if you need to know more).

Any idea what's happening?

[2022-10-18 17:51] fichusalon opened #181 "Add ent toutatice"
Bonjour,

Pouvez vous ajouter l'ent de toutatice.fr ?
L'identification se fait via educonnect à cette adresse https://educonnect.education.gouv.fr/idp/profile/SAML2/Redirect/SSO?execution=e1s1

S'il faut des infos supplémentaires n'hésitez pas à me les demander

[2022-10-18 18:16] Bapt5 commented on #181
C'est déjà fait la fonction a mettre en paramètre est `ac_rennes`. N'hésitez pas à regarder la documentation la prochaine fois avant de créer une issue.

[2022-10-25 09:55] #181 closed

[2022-10-25 15:59] fichusalon commented on #181
Bonjour,

J'avais pourtant regardé, sans doute pas assez bien. désolé pour le derangement.

Bonne journée.

[2022-10-28 12:33] Bapt5 commented on #178
Hi @Didoub74-Off I don't have this error. Can you try again ?

[2022-10-28 12:37] Bapt5 commented on #176
@Didoub74-Off Do you use Educonnect when you are accessing to Pronote or are you using an other authentification method ?

[2022-10-29 07:52] vingerha commented on #158
Trying with 2.7.0 and fix of bapt5 for agora06
[code]

[2022-11-13 16:01] tmonjalo commented on #156
It does not work as parent.
It should be fixed with PR #183

[2022-11-15 06:19] vingerha opened #184 "Punishment: seems not to work for student access"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%242%20Funded-%2300A156.svg" />](https://issuehunt.io/r/bain3/pronotepy/issues/184)

I thought to have reported this earlier but cannot find a trace so with the risk of repeating myself...
I tried to use the setup as proposed / tested but receive error

[code]

[code]

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summa

[2022-11-15 06:27] bain3 commented on #184
Hmm the `test_punishments` unit test is connecting as a student, and is passing. It might be that your PRONOTE differs. It's not unusual that the demo version differs a bit. I'll try to make this `Optional`.

[2022-11-15 09:23] vingerha commented on #184
Thanks for the quick response, could you maybe send me the json path/structure to this data so I can test it out as well on what I see or not, just to be clear...my son has (few!) punishments so data is there

[2022-11-15 19:52] bain3 commented on #184
Hi, you can find the data in a `PagePresence` request when you go to Vie Scolaire -> Récapitulatif. The demo website has a single punishment:
<details>
<summary>Expand for JSON</summary>

[code]

</details>

[2022-11-15 20:00] bain3 commented on #180
Hi, I'm not sure what could be the problem. Maybe it had a question in it that had to be filled? I could try and change `marqueLueSeulement` to true, but the web client does not do that. It currently works when I try it with the demo site.

[2022-11-15 20:05] bain3 commented on #174
Hi, sorry for the late reply.

Probably nothing. It looks like the page expired even though we tried to keep it alive with presence packets. Could you check how often your browser does a request to pronote when idle? Your instance could be set up differently with shorter delays...

[2022-11-15 20:07] #157 closed

[2022-11-15 20:08] bain3 commented on #142
Any updates on this?

[2022-11-15 20:11] bain3 commented on #91
A little update: I don't remember exactly what the problem was :D but it didn't work in practice. I tried to implement a comparable object class, so all the other data classes could inherit from it. I think the equations that I came up with in the gist don't work accross object types. All in all, the solution wasn't good enough.

[2022-11-15 21:17] bain3 commented on #174
Looking at the current demo website it does send something a bit different: `appelpolling` requests that look like an attempt at notifications maybe? I don't see any Presence requests anymore. Since there is always a pending request, it might have replaced the original system.

[2022-11-16 06:54] vingerha commented on #142
Sorry for not returning ... I added the suggested part in my script and until now all seems to be fine so from my pov you can close this or use it to add some stuff to the pronotepy package

[2022-11-16 06:59] vingerha commented on #91
My (!) problem is predominantly with lessons. I collect data in a table and require to identify unique records, i.e. which lesson was imported yesterday and how does it compare to the same lesson imported just now.
I donot know how/why pronote itself let's this happen but from the school of my son I got all (a lot) the variety's possible and no way to identify which record presented the true statu

[2022-11-16 13:13] #142 closed

[2022-11-17 14:29] vingerha commented on #184
Did not need to seek, your fix worked (using master.zip)...thanks for the quick turnaround

[2022-11-17 16:01] #184 closed

[2022-11-19 13:54] amiguet commented on #180
No idea what the problem is. No question to answer, just plain text messages. Some have attachments, but the same error occurs if there's attachments or not.

Tell me if you need more information to better understand what's happening.

In the meantime, I'm keeping a local list of digests of messages with a local read-status. Not ideal, but an acceptable workaround for my use case.

[2022-11-19 14:47] bain3 commented on #172
Hi, sorry for blocking for so long. Pronotepy's objects can now be serialized to `dict`. See [docs](https://pronotepy.readthedocs.io/en/latest/quickstart.html#json-serialization) for information about JSON serialization.

[2022-11-19 14:47] #172 closed

[2022-11-19 14:57] bain3 commented on #180
Can you please try to catch the request that the browser makes when you click the "mark as read" button? The body of the request should have a `"nom": "SaisieActualites"` hopefully. Clicking the button fires two requests, it should be the first one.
![image](https://user-images.githubusercontent.com/31798786/202856993-56ce6366-9d6a-463e-b8cd-dc49b3540506.png)

The *structure* of the body of the *r

[2022-11-19 15:47] amiguet commented on #180
Yes it fires two requests,the first of which contains a `"nom": "SaisieActualites"`. The request seems much shorter in my case, though:

![image](https://user-images.githubusercontent.com/2963140/202859189-b7382cec-59d3-4ede-b7dc-74d963a382d1.png)

[2022-11-19 16:27] bain3 commented on #180
Huh, not sure why your firefox does not parse the json inside `donneesSec`. Could you paste the contents of `donneesSec` here? Of course with personal info removed.

[2022-11-19 16:52] bain3 commented on #184
Sorry, didn't have an actuall PR to link this to. You can give rewards to previous PRs, good to know!

[2022-11-19 16:54] amiguet commented on #180
donneesSec is a long (672 chars) string of alphanumeric data (like 'c3fbdf9c971c61dac...'). Probably a hex encoding of some sort...

That probably explains why firefox doesn't parse it, but isn't very helpful otherwise, I'm afraid...

[2022-11-19 16:59] bain3 commented on #180
Aha! That must be encrypted+compressed data then. Interesting... That is actually very helpful, because it means that pronotepy's encryption+compression works. Do all the requests look like that (are all `donneesSec` just a hex string)? They should, just checking.

[2022-11-19 21:17] amiguet commented on #180
Yes AFAICT they seem to all look like that.

[2022-11-20 11:06] Nath2147 opened #185 "Problem with the calendar"
When i try to use the command export_ical this doesn't work, please could you help me.

[2022-11-20 11:08] bain3 commented on #185
Can you provide more information? What does it output? Is it that the link just doesn't work?

[2022-11-24 09:49] pgtjean opened #186 "connect pronote to notion"
Hey, sorry to bother you. I would like to connect pronote to Notion but I can't use your API. Python doesn't show me a module error.
Then I would like to synchronize the calendars, notes, work to be done... on notion. Do you have any ideas to help me?

[2022-11-24 16:55] Bapt5 commented on #186
Hey Do not hesitate to look at the [documentation ](https://pronotepy.readthedocs.io/en/stable)to set up your link between Pronote and Notion

[2022-11-26 11:13] #178 closed